[2015-04-20 12:31] elliec opened #1 "layout of homepage"
slider and "welcome to geotag-x", find photos and analyse photos should all appear on the one page when people land on the homepage, eg they should not have to scroll down to see "find photos" and analyse photos

[2015-04-20 12:34] elliec opened #2 "slider styling"
The slider is too big, it should be resized so that Welcome to geotag-x is not pushed off the screen.
There is a bit too much movement. I think if the background stayed still it would be ok
The background should be removed or be something very plain, there is too much going on with a photo in the back as well as the photos and text ontop, its hard to see what to focus on and i keep trying to look

[2015-04-20 12:34] elliec opened #3 "slider doesnt resize properly according to screensize"
The slider doesnt seem to resize properly for my screen size, it cuts off the edge of the project's photos when the screen is smaller

[2015-04-20 12:36] elliec opened #4 "button for "projects"?"
Do you think we should have a button for something like "i know what im doing take me to the projects" next to "find photos" and "analyse photos". Or do you think people will know to scroll down?

[2015-04-20 12:43] elliec opened #5 "featured projects is broken"
When i click on Featured projects under the Admin Site, i get the Oops, Something is wrong error page.

Once this is working would the featured projects appear in the slider and at the top of the list of all projects?

[2015-04-20 12:46] elliec opened #6 "text size should be bigger"
Text size should be at least 13pts i think (weve already had one compaint that the text on the old site is too small)

The text for the category names is too small.

I think the text under find photos and analyse photos should probably be a bit bigger too

same for about project

[2015-04-20 12:48] elliec opened #7 "email incorrect"
in th efind photos, dont use the "unosat@unitar.org" email, we dont have access to that. Could we create an e-group or something similar for geotag-x that will send to us all? I dont think we can do this at UNITAR, maybe via CERN? In the meantime you can put my email.

You can leave unosat@unitar.org as the general email at the bottom of the page for now

[2015-04-20 12:50] elliec opened #8 "layout of "how do I get started""
text should be bigger

the alignment of the text is a bit strange - eg the first line should go all the way across, analyse photos should be all the way to the left,

the feedback text should go all the way across

[2015-04-20 12:51] elliec opened #9 "Feedback form"
if you have a good idea about how to collect feedback i would welcome it. I think you mentioned using an application within GeotagX? i would prefer not the use the lime survey but it was the quickest/easiest method when i needed to set it up.

Github has been suggested by others but I do not want to use github for general public feedback

[2015-04-20 12:51] elliec opened #10 "PyBossa Logo distorted"

[2015-04-20 12:53] elliec opened #11 "Privacy policy link not correct"
The page linked to under "privacy policy" is not up-to-date, you can find the correct version on geotag-x under "privacy".

Change the link to just "privacy"

[2015-04-20 12:56] elliec opened #12 "text formatting under terms of use needs fixing"
The text formatting under terms of use (http://spmohanty-geotagx-1.cern.ch/help/terms-of-use) needs fixing, the lines should go all the way across the page, right now they look like they are squashed into a column but sometimes there is one line that goes all the way across.

I think this is the same for the API, privacy, licenses

[2015-04-20 12:57] elliec opened #13 "resources should be licenses"
At the bottom there are two headings for "resources" the second should say "licenses"

[2015-04-20 13:05] elliec opened #14 "tweets should be linked to Geotag-X"

[2015-04-20 13:08] elliec opened #15 "twitter and github logos"
Should these be at the top of the page rather than right at the bottom there? Or maybe there is another spot we could put them? Underneath "contact info"? They seem to get a bit lost down there

[2015-04-20 13:35] elliec opened #16 "information on categories missing"
The information about each category is important, can we display it somewhere when people click on a category?

[2015-04-20 13:36] elliec opened #17 "highlight which category has been clicked on"
can you highlight in some way which category people are in? eg by making the text bold, putting a coloured circle around the image etc?

[2015-04-20 13:37] elliec opened #18 "Find photos for category"
when people are in a category there should be a button for "send photos for this project" or something similar, that takes people to the find photos page

[2015-04-20 13:37] elliec opened #19 "Category should be called project"
The title "category" should be changed to "projects".

[2015-04-20 13:40] elliec opened #20 "logo needed for tab in browser"
we need to put a logo on the tab in the browser, right now it is just a blank page. maybe a simplified version of the geotag-x logo?

[2015-04-20 13:41] elliec commented on #17
just saw it does have a shadow around the one chosen, can we make this stand out more?

[2015-04-20 13:48] elliec opened #21 "buttons on applications dont stand out enough and should be bigger"
When i hover over an application and the buttons to start, tutorial, info etc pop up they are greyed out, they should stand out more.

The info, tutorial and settings buttons are too small. I couldnt work out where to click to get info when i first looked at it

[2015-04-20 13:53] elliec opened #22 "simplify info on project page"
I think you can remove "visible to others", "created on" and "last activity on" from the project page. Its information that the general user doesn't need and clutters up the page a bit.

Can you make this only visible to the project creator?

[2015-04-20 13:57] elliec opened #23 "project page layout"
Because the top section is dominant and moves whenever i click on the "info" "tasks" "statistics" links at the top i didnt notice that the text at the bottom was changing and thought there was a bug and the links wernt working. This is particularly bad on a smaller screen.

can we do something to make it more obvious that there is text underneath? maybe if the blue banner didnt go all the way acro

[2015-04-20 14:01] elliec opened #24 "delete only task responses and not tasks"
is it possible to have a button to delete only the tasks responses and not the tasks.

When we are testing an app we end up with lots of responses that mean nothing and it would be nice to have a button that deletes these before the app is released

[2015-04-20 14:09] elliec opened #25 "remove spam question from applications"
Lets remove the spam question from the applications for now? i dont think we will get any spam at the moment because the plugin isnt working, and maybe there is a better way of doing it.

What do you think?

[2015-04-20 14:11] elliec opened #26 "go to previous question appears on the first question"
this is a bit confusing, can you remove it from the first question?

[2015-04-20 14:13] elliec opened #27 "help missing from within apps"
The help is missing from within the application

[2015-04-20 14:15] elliec opened #28 "the illlustrated multiple choice question doesnt work"
in testproject2 the illustrated multiple choice question doesnt work, i cant select anything

[2015-04-20 14:16] elliec opened #29 "colour of text on usbmit page hides links"
I cant see the links to submit feedback via github or email on the submit page at the end of a task because the backgorund is black and the links are dark blue

[2015-04-20 14:21] elliec opened #30 "encourage people to sign in/create account"
The "oops you are anonymous" does not stand out enough. could we have some sort of pop-up somewhere when people are anonymous asking them to create an account? Eg what we discussed just before i went away?

[2015-04-20 14:25] elliec opened #31 "about page"
The formatting here needs to be fixed
- the filter picture needs to be moved down a line
- disaster response efforts.... should be moved down underneath "what is geotag-x"

im not sure we can really call this citizen science either, its crowdsourcing really. we should put some text about learning here instead, or tweak the citizen science text to reflect what we are doing.

I will come up with the

[2015-04-20 14:27] elliec opened #32 "participation in research question missing from sign-up"
dont forget to incorporate the participation in research question at sign up, and the surveys

[2015-04-20 14:29] elliec opened #33 "typo in password recovery"
it should say "We've sent you an email with account recovery instructions"

[2015-04-21 06:34] spMohanty commented on #28
@elliec : Moved this issue to the `geotagx_project_template` repository, as it discusses an issue from that project. The new issue link can be found at : https://github.com/spMohanty/geotagx_project_template/issues/1

[2015-04-21 06:34] #28 closed, assigned to nobody

[2015-04-21 06:36] spMohanty commented on #27
@elliec : Moved this issue to the geotagx_project_template repository, as it discusses an issue from that project. The new issue link can be found at : https://github.com/spMohanty/geotagx_project_template/issues/2

[2015-04-21 06:36] #27 closed, assigned to nobody

[2015-04-21 06:39] spMohanty commented on #26
@elliec : Moved this issue to the geotagx_project_template repository, as it discusses an issue from that project. The new issue link can be found at : https://github.com/spMohanty/geotagx_project_template/issues/3

[2015-04-21 06:42] spMohanty commented on #25
@elliec : Moved this issue to the geotagx_project_template repository, as it discusses an issue from that project. The new issue link can be found at : https://github.com/spMohanty/geotagx_project_template/issues/4

[2015-04-21 06:42] #25 closed, assigned to nobody

[2015-04-21 07:12] elliec opened #34 "password recovery doesnt work"
maybe we need to enable emails from the server?

[2015-04-21 07:25] spMohanty opened #35 "Gravatar images for user profile pics"
@elliec : The previous version of Geotagx used `Gravatar` images for the profile picture of the individual users. But over time, pybossa has stopped supporting the same.
Do you want us to have support for Gravatar profile pics instead of the upload-you-own profile pic feature ?

[2015-04-21 07:27] spMohanty opened #36 "Fix rendering of Forgot Password link"
Firefox messes up rendering of the Forgot Password link.

[2015-04-21 07:49] elliec commented on #35
we dont need to use gravatar, move to the upload-your-own profile pics

[2015-04-21 07:51] #35 closed, assigned to nobody

[2015-04-21 09:14] spMohanty commented on #34
(Not sure where exactly to put this issue, so will leave it here for the timebeing until we have an issue tracker for systems-administration related stuff)

This issue has been fixed, and for future reference :: this was because the `rq worker` process had crashed silently for some reason on the server.
To fix that, I configured `supervisor` and aggregated together a few scripts which will now dea

[2015-04-21 09:14] #34 closed, assigned to spMohanty

[2015-04-21 09:36] spMohanty opened #37 "Remove/Hide Create Project button for signed in users"
Temporarily Hide Create Project button for signed in users.

For a permanent solution, it would be worthwhile to look at the possibility of a permission based model in pybossa.

[2015-04-22 03:56] #33 closed, assigned to nobody

[2015-04-22 04:10] #29 closed, assigned to nobody

[2015-04-22 04:21] spMohanty commented on #20
@elliec  : I added the whole of geotagx logo as a favicon. But as its supposed to be a 16x16 image, the geotagx logo doesnt make much sense up there :( Would you have any ideas about image should we use for the favicon ? I will replace the image with it.

[2015-04-22 04:23] #19 closed, assigned to nobody

[2015-04-22 04:25] #13 closed, assigned to nobody

[2015-04-22 05:12] spMohanty commented on #10
@elliec  :  I changed the logo to another one, let me know if this one works for you.

[2015-04-22 05:22] #11 closed, assigned to nobody

[2015-04-22 05:23] spMohanty commented on #11
Closing this issue as 98e58c5dbf317d9f0ed6a982d4fe198d170ad7af fixes the content on the privacy policy page, and the layout of the page will be fixed as a part of #12

[2015-04-22 05:29] spMohanty commented on #8
@elliec : I do not quite get the way you imagine the layout. We should probably take this up on a quick skype call later today.

[2015-04-22 05:34] spMohanty commented on #31
@elliec : Implemented the above two layout changes as mentioned by you. Let me know if these would work. Also, do send me the text for the `crowdsourcing` section and the photo(s) for the carousel, after that we can close this issue.

[2015-04-22 07:31] spMohanty commented on #23
@elliec : I pushed some changes, which lets the user hide/show the Project details block on all the sub pages of the Project page by clicking on the project title. The block is open by default on the `info` page and it is closed by default on the rest of the pages.
Let me know if this solves this problem.

[2015-04-22 07:41] spMohanty commented on #24
@elliec : Sure that should be possible. But as this would require changes to the pybossa core code. I would send a pull request to the pybossa core dev team, and when they merge it, we will be able to use it. I will update this thread when its done.

[2015-04-22 07:48] #22 closed, assigned to nobody

[2015-04-22 08:03] spMohanty commented on #7
@elliec  : Temporarily replaced the email with your email id. And you can create a static group or a mailing list at CERN using this form here : https://espace.cern.ch/e-groups-help/Users%20Guide/Create%20a%20new%20static%20group.aspx

[2015-04-22 09:22] elliec commented on #20
I'lll have to think about this, 16x16 is difficult. Ill get back to you

[2015-04-22 09:53] spMohanty commented on #20
@elliec : You could also go for 32x32, most browsers these days do support 32x32 favicon, but 16x16 is the de facto standard usually !!

[2015-04-22 10:03] #36 closed, assigned to nobody

[2015-04-22 10:41] spMohanty commented on #4
The `Projects` button in the Menu bar on the top is for the same purpose. Do you want to add another button next to the Find Photos and Analyse Photos buttons on the front page ?

[2015-04-22 10:46] #37 closed, assigned to nobody

[2015-04-22 10:46] #26 closed, assigned to nobody

[2015-04-22 11:04] #7 closed, assigned to nobody

[2015-04-22 11:24] spMohanty commented on #7
Created an e-group on CERN e-group services by the name `geotag-x@cern.ch`, and added Ellie and Lars to the e-group. Updated the email in the new geotag-x theme.

[2015-04-22 21:19] #20 closed, assigned to nobody

[2015-04-22 21:36] spMohanty commented on #15
@elliec : Well bringing them to the top wont make any sense. and its more like a convention to have links to github/twitter/fb etc around the same place in the footer.
But I have now replicated the information into the contacts sub section in the footer too. Let me know if that works ?

[2015-04-22 21:57] spMohanty commented on #14
@elliec  : So  I embedded a twitter widget to show the geotagx tweets. It doesnt quite go with our theme for now, we will have to either move the tweets sections some other place, or try to collect and render the tweets ourselves.
The advantages of using the twitter widget is that it is maintained by them, and we wont have to worry about any change in the twitter API, also it lets users reply to t

[2015-04-22 22:41] spMohanty commented on #17
@elliec : I increased the shadow width and also the width of the border to the circular images. Will this work ?

[2015-04-22 23:02] spMohanty commented on #30
@elliec : What I can do is, for anonymous users, on every page load, I can start a modal(what you see when you click the `help button` inside an application) with a probability `p=0.2` (from all the page loads done by an anonymous user, 20% of the time the user will get a modal urging him to sign in/create an account, though its not compulsory, he can simply close the modal and do whatever he was

[2015-04-22 23:41] #3 closed, assigned to nobody

[2015-04-22 23:57] spMohanty commented on #2
@elliec : Decreased the height of the slider, and made the background static. Though you will have to help me with the picture that goes in the slider background, possibly a high res one, so I can crop it depending on the layout of the slider.
And let me know what else should I change in the slider.

[2015-04-23 01:05] spMohanty commented on #21
@elliec : I made all the buttons bigger, and also added a tooltip to the individual buttons. Let me know if this works, but I personally like the icons smaller better. We could experiment with smaller icons + tooltip too if you want.

[2015-04-23 01:16] spMohanty commented on #6
@elliec : The font size was already 14px, and I increased it to 16px now.

[2015-04-23 01:22] spMohanty commented on #1
b8fa3705a3f644f5d4976e372e088a400e8b12df fixes this. Is this what you had in mind ?

[2015-04-23 03:54] spMohanty commented on #16
@elliec : Now on double clicking on the category anchors on the front page, you can go to the category page. (There is a tooltip which lets the user what happens when you double click or do a single click on the icon)

~~TO-DO :: Render project tiles to be consistent with the rest of the theme.~~

Let me know, if this is what you had in mind,

[2015-04-23 04:00] #18 closed, assigned to nobody

[2015-04-23 04:18] spMohanty commented on #5
Fixed the broken featured projects page.
TO-DO:
1) Fix rendering of the individual project tiles to go with the theme
~~2) Link the featured projects to the projects shown on the front page slider~~
3) Show featured projects at the top of the front page grid.

[2015-04-27 10:27] elliec commented on #30
@spMohanty : yes please go ahead and do that. I would have it pop up once during a session, eg when they first click on a project. What do you think?

[2015-04-27 10:29] elliec commented on #23
@spMohanty : Looks ok for now but i think it needs to be checked once we have some real content in there. The blue banner could be made a bit narrower to minimise the about info being pushed off the page. But lets wait and see what it looks like with real content

[2015-04-27 10:35] elliec commented on #15
@spMohanty : thats fine. However the formatting of the lists has been messed up see terms of use under resources and applications under licenses.

[2015-04-27 10:36] elliec commented on #14
@spMohanty : thats fine, leave it like that for now

[2015-04-27 10:41] elliec commented on #10
@spMohanty : The logo you had was fine (i think its more up-to-date than the one on there now), it was just a bit distorted, it looks like its being re-sized

[2015-04-27 10:45] elliec commented on #21
@spMohanty : They look better smaller but its not clear where to click. I know what im looking for and it still took me a bit too long to work it out, its much quicker now that they are bigger, and the tutorial is much more obvious which is really important. Though if you want to play around with smaller icons/tooltips thats fine if it works.

[2015-04-27 10:46] elliec commented on #8
@spMohanty : this is not high priority we can talk about it later

[2015-04-27 10:47] elliec commented on #6
@spMohanty : thanks thats fine

[2015-04-27 10:47] #6 closed, assigned to nobody

[2015-04-27 10:54] elliec commented on #4
no thats fine, thanks i forgot about that

[2015-04-27 10:54] #4 closed, assigned to nobody

[2015-04-27 10:55] elliec commented on #1
yes thats fine thanks

[2015-04-27 10:55] #1 closed, assigned to nobody

[2015-04-27 11:44] elliec opened #38 "The top bar with Geotag-X logo should be static"
This should not scroll with the rest of the page, should always appear at the top (eg see current website)

[2015-04-27 11:58] elliec commented on #17
yes this is better

[2015-04-27 11:58] #17 closed, assigned to nobody

[2015-04-27 12:15] elliec opened #39 "about photo resizes to be really big when browser window is small so it fills the whole window"

[2015-04-27 12:18] spMohanty commented on #39
@elliec :: Do not quite get a sense of the issue ? Can you please elaborate ?

[2015-04-27 12:19] #14 closed, assigned to nobody

[2015-04-27 12:33] spMohanty commented on #21
@elliec : Yeah right, the buttons look way better when they are smaller. I think trying to come up with a contrast with the background will solve the issue of usability.
I will push some changes which should make them look like in the image below.
![](http://i.imgur.com/CaW3T6n.png)

[2015-04-27 12:40] elliec commented on #39
@spMohanty open the about page and then make your browser window smaller and you should see what i mean

[2015-04-27 14:54] elliec opened #40 "about text under "what is crowdsourcing" overlaps with people icon when browser window is small"

[2015-04-27 14:58] elliec opened #41 "getting stuck on second photo"
there is a bug in pybossa where it gets stuck on the second photo. So a user goes through the application for the first photo, submits his answers and then gets presented with the second photo. He goes through the questions again with the second photo but when he submits, the photo doesn’t change but the application goes back to the first question like it should, it then gets stuck on the second p

[2015-04-27 15:02] elliec commented on #2
@spMohanty : we don't really have any high res images that we could use. For now I would leave it a solid colour until i find something suitable.

Can you slow down the movement? make it stay on one project for longer

[2015-04-27 15:41] elliec opened #42 "project icons bigger"
Can you try making the project icons bigger? they seem a bit small at the moment

[2015-04-27 15:55] spMohanty commented on #42
You mean the circles on the front page ?

(I have been using pybossa's nomenclature for consistency. With the circles on the front page being called as 'category' and the tiles on the front page being called as apps/project)

[2015-04-27 16:17] elliec commented on #42
yeah thats the ones, maybe just see how they look bigger? right now there seems to be alot of white space around them

[2015-05-04 09:36] spMohanty commented on #41
This issue can be replicated in IE version `11.0.9600.17728` as pointed out by @elliec

[2015-05-04 21:38] spMohanty commented on #2
@elliec : Updated the slider background to a repeating pattern, and made the slide change delay to be 6 seconds.

[2015-05-04 22:08] spMohanty commented on #21
@elliec : Reverted back to small icons and also added a background for clarity. Let me know if this works.

[2015-05-05 05:37] #38 closed, assigned to nobody

[2015-05-05 07:42] elliec commented on #2
This is better in terms of movement. however I have noticed that the title used in the slider is the project's slug, this should be the Title.

[2015-05-05 09:47] spMohanty commented on #42
@elliec : Made the project icons a bit bigger. Did you have something at this scale in mind ? or probably as big as the tiles we have below them ?
(these are supposed to be kind of selectors which the users use to filter through the tiles below, hence I would keem them smaller by a margin from the tiles)

[2015-05-05 10:26] elliec commented on #42
@spMohanty definitely they should be smaller than the tiles below. I just thought there seemed to be a lot of white space around them. I cant see any difference in the size though (ive opened it in a new browser so it shouldnt be cached)

[2015-05-05 10:55] spMohanty commented on #42
@elliec : My bad !! I had not updated the changes on the openstack instance !! you can check them now, I made the individual icons bigger by about 50% in the previous commit references in this thread.

[2015-05-05 10:58] spMohanty commented on #15
@elliec : Fixed the layout issues. Please close this issue if it solves the immediate problems we had.

[2015-05-05 11:03] elliec commented on #42
@spMohanty ok thats better now i can see them! looks fine like that thanks

[2015-05-05 11:03] #42 closed, assigned to nobody

[2015-05-05 11:04] #15 closed, assigned to nobody

[2015-05-05 11:06] elliec commented on #41
and chrome 41.0

[2015-05-05 11:08] spMohanty commented on #39
@elliec : Yeah thats because of trying to have as much support for mobile devices as possible. But by all means, do we even need that image carousel on the about page , especially when we wont have time to sort through and select good photos to put up there ?

[2015-05-05 11:10] spMohanty commented on #23
@elliec : Now that we have the real data from projects migrated, can check if the blue banner looks okay to you ?
(My whole idea was to have a **huge** banner which gives the summary of the project, while still atleast showing the heading of the content of the rest of the page so that the user knows where to go if he wants more details)

[2015-05-05 11:30] #10 closed, assigned to nobody

[2015-05-05 11:31] spMohanty commented on #10
@elliec : Got it !! Fixed that in e92ca62893a95da080e628f873b2e9b868d990e2 !

[2015-05-05 11:37] spMohanty commented on #2
@elliec : Thanks for pointing that out. Fixed that !! let me know if its okay for now !

[2015-05-05 11:46] elliec commented on #39
@spMohanty no you can get rid of it

[2015-05-05 11:48] elliec commented on #23
@spMohanty that looks better now there is content. However the text is all in the righthand column, it looks a bit strange and seems really long, is it possible to make it go across the whole page? is there a reason you have it in a column like that?

[2015-05-05 11:49] elliec commented on #2
@spMohanty im still seeing the slug

[2015-05-05 11:54] spMohanty commented on #2
@elliec  : My bad again !! Just updated the openstack instance now !!

[2015-05-05 11:57] elliec commented on #2
@spMohanty looks good!

[2015-05-05 11:57] #2 closed, assigned to nobody

[2015-05-06 06:13] spMohanty commented on #31
@elliec : Updated the content you sent via mail. Let me know if this looks good.

[2015-05-06 06:41] spMohanty commented on #30
@elliec : Now you should be able to see a popup reminding anonymous users to sign in when they start contributing to a task.
(If you want this popup on any other pages, let me know)

[2015-05-06 07:02] spMohanty commented on #23
@elliec : Now the description should be full width.

[2015-05-06 07:35] spMohanty commented on #12
cb15f72ea431e6fbb86256be02566e442b6320df also fixes the layout issues to some extend. Though it will need some manual intervention to probably add relevant images, and style content to make it more readable.
@supranove can you have a look at this when you are free ?

[2015-05-06 08:02] othieno commented on #12
@spMohanty sure thing.

[2015-05-06 08:22] spMohanty opened #43 "Community Page and Leaderboard"
Add Community Page and Leaderboard

[2015-05-06 09:18] spMohanty opened #44 "Link Tutorial to real tutorials if they exist"

[2015-05-06 09:43] #44 closed, assigned to nobody

[2015-05-06 09:45] spMohanty commented on #44
@supranove : The tutorials buttons should be working fine now :D

[2015-05-06 09:47] spMohanty commented on #41
@elliec : Given you can replicate this issue, it would be great if you can check if the new project codes generated by the geotagx-template are also affected by this bug.

[2015-05-06 10:07] elliec commented on #31
@spMohanty looks good just fix the formatting of "other ways to participate" to match the rest of the page

Thanks!

[2015-05-06 10:11] elliec commented on #30
@spMohanty Looks good - two comments
- the sign in button doesn't work and the "Sign in now!" link redirects to the task which then re-opens the pop up.
- can you put a button to "create an account"

[2015-05-06 10:12] elliec commented on #23
@spMohanty looks heaps better

[2015-05-06 10:12] #23 closed, assigned to nobody

[2015-05-06 10:13] elliec commented on #12
@spMohanty @supranove I think this is fixed?

[2015-05-06 10:26] elliec commented on #41
In the new version, photos do not appear in IE. It seems it does not show it maybe because it is not secure content, I get the pop-up saying it is only showing secure content but when i tell it to show everything it still doesnt appear.

I had a look at a project on crowdcrafting that is also getting photos from flickr and dont seem to get the same error

[2015-05-06 10:35] spMohanty commented on #30
@elliec : Resolved both the issues !! The reason was the pybossa flash messages suddenly stopped removing links after I pulled in all the latest changes from the pybossa official repository today.

[2015-05-06 10:36] elliec opened #45 "Automated tutorial creation"
Automate the creation of an application's tutorial should be possible as all of the questions and help etc are already there in the application

ideally in the end a volunteer would have the possibility of doing more than one photo as a tutorial and then would be presented with a "test my knowledge" type of question after they have completed a certain number of tasks

[2015-05-06 11:21] spMohanty commented on #31
@elliec : Done :)

[2015-05-06 11:22] spMohanty commented on #39
@elliec : Removed the image carousel from the about page !! Hope this solves the issue !!
Though if you make the browser window very small, the CSS framework we use will automatically re order stuff so its more suited for small screens.

[2015-05-06 12:04] spMohanty commented on #45
Moved this issue to https://github.com/spMohanty/geotagx_project_template/issues/9

[2015-05-06 12:04] #45 closed, assigned to nobody

[2015-05-06 12:08] spMohanty commented on #12
@elliec : Yeah the layout issue is fixed. But I would close this issue only after wrapping up the theming of the content on the individual pages.  It seems like a lot of text and is not really readable !! Though not a high priority task for now.

[2015-05-06 12:15] elliec commented on #16
@spMohanty Looks fine, this can be closed if you've done your TO-DO from the last comment

[2015-05-06 12:16] elliec commented on #21
@spMohanty background makes a huge difference, looks good like this. The icons still seem a bit greyed out but i dont think thats all that important now you have the background

[2015-05-06 12:16] #21 closed, assigned to nobody

[2015-05-06 12:17] #39 closed, assigned to nobody

[2015-05-06 12:18] elliec commented on #12
@spMohanty ok agreed, really low priority though, terms of use pages are usually pretty text heavy so i dont think its a huge problem

[2015-05-06 12:20] elliec commented on #31
@spMohanty the text on "who are our volunteers" overlaps the picture when the window is a bit minimised.

[2015-05-06 12:21] elliec commented on #30
@spMohanty looks great! I found another typo. On the ~~sign in~~ `create account` page it says "By click the Create account...." This should say "By clicking the Create account..."

[2015-05-06 12:39] spMohanty commented on #30
@elliec : It shows correct for me ???
![screenshot](http://i.imgur.com/jU9vm3C.png)

[2015-05-06 12:44] spMohanty commented on #31
@elliec : Should be fixed now :D

[2015-05-06 13:15] spMohanty commented on #30
@elliec : Thanks for pointing it out. Fixed that !!

[2015-05-06 13:19] #30 closed, assigned to nobody

[2015-05-06 13:20] spMohanty commented on #40
Fixed in aac403bd40c1ac24aae87d9e3f6968b675fc401a.

[2015-05-06 13:20] #40 closed, assigned to nobody

[2015-05-06 13:22] elliec commented on #31
great thanks!

[2015-05-06 13:22] #31 closed, assigned to nobody

[2015-05-06 13:22] elliec opened #46 "Title of project overlaps photo in slider when window is a bit minimised"

[2015-05-07 00:42] spMohanty commented on #32
@elliec : I implemented the survey workflow for the new version of geotagx.
The backend for this workflow has been implemented in our version of pybossa in the commit https://github.com/spMohanty/pybossa/commit/1289585f2e1c81743d0b2a33881a322262138abb
This commit tries to make sure there will be **minimal** merge conflicts when you pull changes from the pybossa core in the future. It uses a `geota

[2015-05-07 01:08] spMohanty commented on #32
@elliec : One minor/major issue we might face now is, when our site is on HTTPS, the browser doesnot let any `iframe` load from a HTTP survey link. So I moved all the survey links to HTTPS, but then `tecfalabs.unige.ch` where the survey forms are hosted currently, uses a self signed SSL certificates :cry: , and both chrome and mozilla do not like that either :sob:, they say that its an untrusted c

[2015-05-07 01:11] spMohanty commented on #46
@supranove : This looks like a minor CSS issue, can you look at it when you have time ?

[2015-05-07 01:18] spMohanty commented on #5
@elliec : Should I display the featured projects at the top of the front page grid ? My only concern was, most users will see probably the first two rows of the front page project grid. And having featured projects always appear on the top will have the grid look monotonous and static across multiple page loads. The featured projects are anyway getting all the due attention from the top slider. An

[2015-05-07 08:39] othieno commented on #44
Nice work @spMohanty  :+1:

[2015-05-07 08:51] othieno commented on #46
@spMohanty will do!

[2015-05-11 10:19] elliec commented on #5
@spMohanty leave it as it is for now, we can always change it later if need be

[2015-05-11 10:24] elliec commented on #32
@spMohanty Im not at CERN at the moment, I'll have to check on wednesday when im back. If @supranove gets some time could he check it for bugs? Ill check the workflow when im back wednesday

[2015-05-13 08:37] elliec commented on #32
@spMohanty looks fine, lets see what Julien says about the certificate issue. Worst case we just turn the surveys into projects on Geotag-X but I would prefer to avoid that as they are currently responsible for the surveys making it one less thing we have to deal with..

[2015-05-13 10:16] spMohanty commented on #41
@elliec : Crowdcrafting is not hosted over https, probably for the very same reason :(

[2015-05-17 18:21] spMohanty commented on #32
Closing this issue, as the remaining issue are related to enforcing HTTPS, which should be taken up in a separate issue.

[2015-05-17 18:21] #32 closed, assigned to nobody

[2015-05-17 18:22] spMohanty commented on #12
Closing this issue as suggested by @elliec .

[2015-05-17 18:22] #12 closed, assigned to nobody

[2015-05-17 18:37] #16 closed, assigned to nobody

[2015-05-17 18:47] spMohanty commented on #9
@elliec : Made the feedback form appear as a popup like in the case of surveys. Let me know if this makes things any better, or if I should revert back to the old state.

[2015-05-17 23:32] spMohanty opened #47 "Optimization of page response"
The page response time is pretty high as of now. Will have to carefully load only whats required, and also discuss the possibility of self hosting compressed and resized versions of images being used on geotagx.

[2015-05-18 08:51] spMohanty opened #48 "Integration of CCL Tracker for analytics"

[2015-05-18 08:54] elliec commented on #9
looks great thanks

[2015-05-18 08:54] #9 closed, assigned to nobody

[2015-05-18 14:39] elliec opened #49 "Create project missing from admin account"
The create project link should appear at the top of the page when logged in as an admin account however I cant see it

[2015-05-18 14:40] elliec opened #50 "update license text"
License text should be this one: http://new.geotagx.org/help/license

[2015-05-18 14:40] elliec opened #51 "Put "data collection on geotag-x" at the top of the page"
on the privacy page

[2015-05-18 15:02] #50 closed, assigned to nobody

[2015-05-18 15:06] #51 closed, assigned to nobody

[2015-05-18 15:11] #49 closed, assigned to nobody

[2015-05-18 20:17] spMohanty commented on #24
This same issue has also been put up as a feature request on the official pybossa issue tracker. [https://github.com/PyBossa/pybossa/issues/1065]

[2015-05-20 15:39] elliec commented on #43
Ive been reading some of our feedback and this was one item that has come up a bit, could we make this a higher priority?

[2015-05-20 15:41] elliec opened #52 "No Flickr image importer"
This is important as it is how we load the majority of our photos. I can see it in crowdcrafting so i assume it should be available in Pybossa?

[2015-05-20 15:41] elliec opened #53 "Offset needed for About and Help link"
when you click on them it scrolls too far down the page

[2015-05-20 21:48] spMohanty commented on #41
Unable to replicate this issue in IE version `11.0.9600.17633`

[2015-05-20 21:51] spMohanty commented on #53
@elliec : The description of the problem is not quite clear. Can you please provide more details about where exactly do you see this issue ?

[2015-05-20 22:14] spMohanty commented on #52
@elliec : Added support for both Flicker importer and Dropbox importer.

[2015-05-20 22:14] #52 closed, assigned to nobody

[2015-05-20 22:17] spMohanty commented on #48
@supranove : While you are at it, can you please add a note on this issue about the analytics events that have been dealt with, and the ones that are left ?

[2015-05-20 23:54] spMohanty commented on #53
@elliec : Added offset to the `Find Photos` and `Analyse Photos` link on the front page, and the `What is Geotagx` and `Who are our volunteers` links on the About page. I could not exactly find a `Help` link which used in-page links, but let me know if there are other links like these that I missed.

[2015-05-21 03:36] spMohanty commented on #43
@elliec : Added a community page of all registered and active users. Active users are the users who have submitted a response to at least one task.
You will notice that the pagination does not work properly for now, that is because of a bug in pybossa, for which I have submitted a pull request (https://github.com/PyBossa/pybossa/pull/1091)

Also, the community page currently says that we have 206

[2015-05-24 16:44] othieno commented on #48
@spMohanty Sorry I missed this. Here's the list of analytics and their implementation status.
- [x] analytics.action.signInButtonClicked
- [ ] analytics.action.goingBackButtonClicked
- [x] analytics.action.invalidClick
- [x] analytics.action.visitCategory
- [x] analytics.action.visitProject
- [x] analytics.action.surveyEvent
- [x] analytics.action.internalLinkClicked
- [x] analytics.action.externa

[2015-05-25 01:35] spMohanty commented on #48
Wow !! this one looks like its almost complete :D great work :D

[2015-05-27 14:15] elliec commented on #53
@spMohanty thats fine, i think i made a mistake writing help, it should have been find and analyse

[2015-05-27 14:15] #53 closed, assigned to nobody

[2015-05-27 14:15] elliec commented on #46
@spMohanty @supranove was this fixed ?

[2015-05-27 14:16] elliec commented on #43
@spMohanty could we clean out the testing accounts? there will be some that appear in the community page and it looks a but messy

[2015-05-27 14:18] elliec commented on #5
@spMohanty Im closing this as i think it is fine as is

[2015-05-27 14:18] #5 closed, assigned to nobody

[2015-05-27 14:19] elliec opened #54 "List blogs on the homepage"
I wrote a blog for the winter shelter project but it is really hidden (click on the project info, then blogs, then you can see it listed). Can we have a news section or similar showing recent blogs?

[2015-05-27 14:37] othieno commented on #46
@elliec No, this is still not solved. We'll either have to change the slider we currently use or modify it to account for small screens. It's pretty low-priority for now.

[2015-05-31 08:42] spMohanty commented on #24
@elliec : https://github.com/geotagx/pybossa/commit/065c10376f507e3d9d350a6d0bcdd6f2f16b63df , https://github.com/geotagx/pybossa/commit/2a0b9df94d4a2a63339c153acacc375c1b25a5c1 , https://github.com/spMohanty/geotagx-theme/commit/9ea10fd5ee63623cb25fdd0e2b46b41a7e0e5f71 , https://github.com/spMohanty/geotagx-theme/commit/f69bdd0764432ff7d34685eb1716348500793e89   implement this feature.
now you sh

[2015-05-31 10:56] spMohanty opened #55 "GeotagX plugin for Pybossa"
All the contents of this repository, can be combined with the changes we have done to the pybossa-core to come up with a separate Geotag-X plugin for pybossa.
That will completely decouple the pybossa core code from geotagx code once and for all.

[2015-06-01 08:37] elliec commented on #24
@spMohanty thanks seems to work fine. im closing this

[2015-06-01 08:37] #24 closed, assigned to nobody

[2015-06-02 15:47] spMohanty commented on #43
@elliec : Most of the testing accounts are cleaned up. Should look good now.

[2015-06-02 16:05] elliec commented on #43
@spMohanty sorry i forgot to mention that i went through and delted them after you added the option to delete users, thanks!

[2015-06-02 16:05] #43 closed, assigned to nobody

[2015-06-04 21:55] spMohanty opened #56 "Buggy TaskRun export feature"
The TaskRun export feature has been behaving pretty weird, and I for sure do not get all the task_runs associated with the project.

[2015-06-04 21:57] spMohanty opened #57 "GeotagX surveys not registering that the user completed the survey in some cases"
We have had reports that, some users are getting stuck on the surveys page, as it is not able to save that the user indeed took the survey.

[2015-06-05 05:07] spMohanty opened #58 "Summarization of Task Runs"
@elliec , @supranove   : https://github.com/geotagx/geotagx-theme/commit/48e0ebeae4180060e9d1db6cc8ba1a99b037759b and https://github.com/geotagx/pybossa/commit/4505fe53262280b7e53a3d6c15f05add820801df implement the summarization and visualization of the TaskRuns. You might find some noise in the task run summaries, and that is mostly because of the projects where the old data collection schema and

[2015-06-05 23:46] spMohanty opened #59 "Unquoted jinja2 expressions as HTML attributes."
After Sebastian, asked us to look into it, I digged out all(possibly) the instances of unquoted jinja2 expressions being used as HTML attributes. Here is the list :

[code]

Will soon push a commit to fix this.

[2015-06-06 00:26] #59 closed, assigned to spMohanty

[2015-06-06 00:49] spMohanty opened #60 "Include Survey Status in User Export feature in the admin interface"

[2015-06-06 01:01] spMohanty commented on #58
@elliec , @supranove : Should we include the link to these visualizations for every task somewhere in the task presenter ?

[2015-06-06 02:03] spMohanty commented on #60
Feature Implemented with commits https://github.com/geotagx/geotagx-theme/commit/fcd1abc676362b5b9a4e84ea7cf564385670321e and https://github.com/geotagx/pybossa/commit/cfee4af5f2e985641f4846d0c73692ec0b04cece

@elliec : Please confirm if this is what you wanted. :)

[2015-06-08 13:45] SebastianLopienski commented on #59
Bravo!

[2015-06-15 14:32] spMohanty opened #61 "Setup automated twitter feed -> Task import"

[2015-06-15 14:32] spMohanty opened #62 "Support for GeoJSON in summary export"

[2015-06-15 14:33] spMohanty opened #63 "Flick through photos in summary"

[2015-06-15 14:33] spMohanty opened #64 "statistics on difficulty of questions/photos"
Look through all task responses to figure out questions with a high standard deviation

[2015-06-15 14:34] spMohanty opened #65 "Serve cached,watermarked, web optimized versions of all the images"

[2015-06-15 14:35] spMohanty opened #66 "Export Data to GeoKey script"

[2015-06-15 14:35] spMohanty opened #67 "Disqus forums for Feedback and individual Categories"

[2015-06-15 14:35] spMohanty opened #68 "Link to Blogs on the front page"

[2015-06-15 14:36] spMohanty opened #69 "Setup a Map summarizing all results from a particular category"
The assumption being all the projects in the category are created using the geotagx_project_template

[2015-06-15 14:36] spMohanty opened #70 "Export data in HDX"

[2015-06-15 14:37] spMohanty opened #71 "Firefox and Chrome plugins for collection of media"

[2015-06-16 09:14] spMohanty commented on #67
Added site-wide feedback in the commits https://github.com/geotagx/geotagx-theme/commit/dc52ce1327acac1e4437126d26352d93ff30f203 and https://github.com/geotagx/pybossa/commit/33bd8b875791e5f541041512552c66483ded0893

[2015-06-17 13:53] #67 closed, assigned to nobody

[2015-06-17 13:55] #60 closed, assigned to nobody

[2015-06-17 13:58] elliec commented on #58
@spMohanty its best where it is. We want to avoid influencing peoples answers by showing them what others have said. In the results summary that we share under tasks I would allow people to only see results for those photos that have been completed according to the redundancy (eg 20 people have looeked at them)

[2015-06-22 05:16] spMohanty commented on #66
As described in http://geokey.org.uk/docs/web/contribution-add.html
Every GeoKey contribution needs to be a valid GeoJson (hence every contribution has to have a geolocation associated with it)
In `summary` of all task_runs for a particular project, we now have all the data aggregated in the format below :

[code]

In the above data structure the image is the `key` of every entry (as is in the des

[2015-06-22 05:18] spMohanty commented on #62
Summary export has to be written for categories instead of projects (as all individual projects might not have a geolocation entry) (and summary export will only contain images for which atleast one geolocation entry has been recorded)

[2015-06-22 05:18] spMohanty commented on #66
Linked to https://github.com/geotagx/geotagx-theme/issues/62

[2015-06-22 14:22] spMohanty commented on #69
Has a dependency on https://github.com/geotagx/geotagx-theme/issues/62

[2015-06-24 09:14] oliverroick commented on #66
As I understood, you will get several geotags for an image. You could (based on a sufficient number of geotags) calculate a spatial centroid and use that for the location for an images or you calculate the convex hull of all points and use the resulting polygon as the geometry.

The POST could like:

[code]

Once you post that to GeoKey you will get a response of the feature created with an ID of

[2015-06-24 15:15] spMohanty commented on #48
Comments from Jose :

##  Bugs
- When click on community -> user, It is sent to GA an invalidClick.
  **(Update :: Suppressed invalid click event when clicking user profile on community page, though it will still send the url of the user account which was clicked on, something like `internalLinkClicked:/account/stanfar/`)**
- When submiting an answer (i.e. at the end of the task) I get an invalidC

[2015-06-29 07:21] spMohanty commented on #62
A very basic implementation is done using https://github.com/geotagx/pybossa/commit/0ed6131edf58d30f56d11004a8431aba526e0da8 and  https://github.com/geotagx/geotagx-theme/commit/85a504a2f9b0aebba79252b1b69cb9f04e50feb9 . Now you should see a "Export Summary as GeoJSON" button on the category page. Ex [http://geotagx.org/project/category/emergencyshelterassessmentinthemiddleeast/](http://geotagx.or

[2015-06-29 08:40] spMohanty commented on #66
Hi @Oliverroick,
Can you check if this is what you had in mind : http://geotagx.org/geotagx/export/category/emergencyshelterassessmentinthemiddleeast/GeoJSON ?

[2015-06-29 15:43] elliec commented on #41
@spMohanty got feedback that this is happening in Chrome Version 43.0.2357.130 m. Project: "Crop identification for drought"

[2015-06-30 22:07] spMohanty commented on #41
@elliec : I would wait till the new error handling thing @supranove is working on, is released. I have a feeling that will handle this and other such similar bug reports that we have been getting.

[2015-07-03 12:09] spMohanty opened #72 "Use "GeoTag-X" consistently everywhere"
The repository uses "GeoTag-X" in some places, and "Geotag-X" in some places, it should use "GeoTag-X" consistently everywhere.

[2015-07-03 12:29] spMohanty commented on #72
Updated most of the changes in the templates, but these files will still need to be dealt with. Leaving this for @supranove as it requires a working `pbs` instance to update those changes.

[code]

[2015-07-03 13:30] elliec opened #73 "PBS not working"
@spMohanty This needs to be fixed by wed next week whether as a new script like mohanty said or fixing pbs itself because it is holding up too many changes on the website.

[2015-07-03 17:50] othieno commented on #72
@spMohanty thanks for updating the projects, I can do the pbs updates.

[2015-07-03 17:52] othieno commented on #73
@elliec I managed to get pbs working on my machine (no idea how though) so I'll try to push as many updates as I can as soon as possible.

[2015-07-06 09:29] oliverroick commented on #66
Almost:
1. GeoKey does not support bulk upload, POSTing a `FeatureCollection` will return an error. You have to upload all features individually.
2. You can upload complex objects as properties it won't throw an error; but GeoKey can't validate these as it supports only simple data types (text, numbers, dates, etc.). Also the client that visualises the results, must know about the structure of com

[2015-07-14 12:05] oliverroick commented on #66
I've built a quick prototype for a map viewer. This is what it looks like:

![screen shot 2015-07-14 at 13 01 59](https://cloud.githubusercontent.com/assets/159510/8672674/924a7574-2a28-11e5-80b5-3860d16d886d.png)

I created an example project that you can use for testing:
- http://play.geokey.org.uk/geotagx/86/ That's the map
- Use this URL to post your results: http://play.geokey.org.uk//api/geo

[2015-07-15 15:10] elliec commented on #72
@supranove did this get updated in the end? can we close it?

[2015-07-15 15:17] elliec commented on #62
@spMohanty has this been updated to have lat and long

[2015-07-15 15:55] othieno commented on #72
@elliec yes it's done.

[2015-07-15 15:55] #72 closed, assigned to nobody

[2015-07-18 16:16] spMohanty commented on #66
Hi olivier,
On trying to access the [link](http://play.geokey.org.uk/geotagx/86/) I see this ?? :

![screen shot 2015-07-18 at 6 11 58 pm](https://cloud.githubusercontent.com/assets/1581312/8762432/e8c1aa82-2d78-11e5-9db7-0c72f32ceb1a.png)

**A Quick Update : I just now changed the projection in our GeoJSON export feature from WebMercator  to WGS84, I think that might fix this issue now. Will chec

[2015-07-18 21:31] spMohanty commented on #68
Implemented in the commits https://github.com/geotagx/geotagx-theme/commit/e13f30b09828309753989ff7c4252f36076106af and https://github.com/geotagx/pybossa/commit/f133519c3e994447f0fa7884eb37e08b1da2011f

Though, instead of squeezing it on the front page, a new page (with a corresponding menu item) has been added.

[2015-07-18 23:23] spMohanty commented on #62
Implemented in the commit : https://github.com/geotagx/pybossa/commit/7b1de513bcb66eebbfc79a84d85bb63c80a91dc9

And GeoJSON output validated at [GeoJSONLint.com](GeoJSONLint.com)

[2015-07-20 12:47] spMohanty opened #74 "Setup a shadow project for all generic blog posts"
Set up a shadow project called as `geotagxblog` for pushing all generic blog posts. Make its category as `Under Development`, and add necessary exceptions so it doesnt look like a regular project page.

[2015-07-20 12:53] spMohanty commented on #74
@elliec  : Generic sitewide blog posts can now be made at : http://geotagx.org/project/geotagxblog/new-blogpost

TODO: Add a link to the list of all generic blogs posts, and also a way to delete them on the blogs page.

[2015-07-20 14:46] spMohanty opened #75 "Admin Dashboard for GeotagX-sourcerer-sink"
A admin dashboard for GeotagX-sourcerer-sink to let admins select which images go in and which do not.

And also, a neat way to look at all categories of sourced images.

[2015-07-20 15:51] elliec commented on #74
ok thanks, will wait for valentina's testing before closing but looks good

On Mon, Jul 20, 2015 at 2:53 PM, SP Mohanty notifications@github.com
wrote:

[2015-07-21 08:10] elliec opened #76 "automatically update categories on homepage when changed by admin"
Categories on homepage have to be manually updated by developer, this should be made automatic. Needs to be done by friday in prep for release of Yemen project

[2015-07-21 08:15] elliec opened #77 "project page cutoff by top menu bar"
when someone clicks on projects the page scrolls down too far and cuts of the word project and the tops of the categories

[2015-07-21 08:44] oliverroick commented on #66
Yeah, you should change the projection to WGS84.

Also, the error might be because the list of features is empty. Have you uploaded any data yet?

[2015-07-22 03:11] spMohanty opened #78 "Implement an admin dashboard for geotagx-sourcerer-sink"

[2015-07-28 20:52] spMohanty commented on #78
Clone of https://github.com/geotagx/geotagx-theme/issues/75

[2015-07-28 20:52] #78 closed, assigned to nobody

[2015-07-28 20:53] #62 closed, assigned to nobody

[2015-07-28 20:54] #73 closed, assigned to nobody

[2015-07-28 20:54] spMohanty commented on #54
Clone of https://github.com/geotagx/geotagx-theme/issues/68

[2015-07-28 20:54] #54 closed, assigned to nobody

[2015-07-28 21:12] spMohanty commented on #75
Reference : https://github.com/geotagx/pybossa/commit/c64de59674718a2e74b4fbd3d6a62069b4ffac20

Important changes to the internal `geotagx-sourcerer-sink` redis data structure to facilitate support for the admin dashboard

[2015-08-09 22:38] spMohanty opened #79 "Hide results for incomplete tasks"
wait for all the task_runs to be collected before showing results of a task

[2015-08-09 22:39] #79 closed, assigned to nobody

[2015-08-09 22:47] #77 closed, assigned to nobody

[2015-08-10 11:56] spMohanty opened #80 "geotagx-sourcerer-sink uses wrong value for source_uri"

[2015-08-10 11:56] #80 closed, assigned to nobody

[2015-08-10 12:41] elliec commented on #74
this seems to be done and working fine

[2015-08-10 12:41] #74 closed, assigned to nobody

[2015-08-10 12:42] elliec commented on #71
https://github.com/geotagx/geotagx-chrome-sourcerer

to-do: replicate for firefox

[2015-08-10 12:46] elliec commented on #70
@spMohanty can you give an update on this? and link with the map request if you are going ahead with the idea to use HDX's mapping support to display results?

[2015-08-10 12:47] elliec commented on #69
@spMohanty should this be linked with HDX (#70)?

[2015-08-10 12:49] elliec commented on #65
@spMohanty what did we decide on in the end for this?

[2015-08-10 13:08] spMohanty commented on #65
@elliec : The conclusion was, given the current infrastructure we have, it would not be possible to go ahead with this enhancement. While if we soon move to a distributed infrastructure on cern openstack, we can easily go ahead with this.

[2015-08-10 13:10] spMohanty commented on #70
@elliec : I am still working on this. I would set a deadline of the end of this week for both the HDX export and the summary maps.

[2015-08-10 13:36] elliec commented on #61
@spMohanty can you put the code for the twitter script on the repository with documentation on how to use? then we can close this

[2015-08-10 13:37] spMohanty commented on #58
@elliec : The results for incomplete tasks are not shown now. It waits till all the task runs are complete.

[2015-08-10 14:03] elliec commented on #58
@spMohanty thanks saw that, will close this one now

[2015-08-10 14:03] #58 closed, assigned to nobody

[2015-08-10 14:27] spMohanty commented on #69
Deadline for the complete map : 20th August

[2015-08-10 14:28] elliec commented on #69
@spMohanty calculate centroid of all polygons for each photo and add to GeoJSON, display only centroid but when users hovers (or clicks) or centroid it displays all polygons for that photo. Will need to be made seperate to HDX map, unless HDX allows this customisation

[2015-08-10 14:31] elliec opened #81 "Migrate to CERN server"
- migrate gandi content to cern
  - set up servers using personal quotas (ellie to ask at unosat whos can be used)

[2015-08-10 14:34] elliec commented on #64
@spMohanty remove non-relevant photos. if answer to "is there shelter" is >60% no photo is not relevant

[2015-08-10 14:36] elliec commented on #57
ellie to check

[2015-08-10 14:39] #48 closed, assigned to nobody

[2015-08-10 14:50] elliec opened #82 "Blog rendering needs fixing"

[2015-08-10 14:55] spMohanty commented on #56
@elliec  : for issue with the TaskRun export zip or the Task export zip not updating. You can simply log onto the server, go to :

`/home/pybossa/new_geotagx/pybossa/uploads/user_1` and delete the file name that is downloaded everytime you click the respective Export button.

[2015-08-10 15:20] elliec opened #83 "add function to email all users from admin interface"

[2015-08-10 15:20] elliec commented on #83
@spMohanty can this be done in the next day or two?

[2015-08-11 08:13] elliec opened #84 "Cannot load icon for projects using the web interface"
see emails from myself and Lars. This should be fixed asap

[2015-08-11 08:22] elliec opened #85 "Add number of tasks completed to Users database download"
@spMohanty Could this be done quickly? Oula and I need it for the analysis

[2015-08-11 08:32] elliec opened #86 "translations"
@spMohanty could oyu please provide me with the strings for translate as discussed last week? both chinese and arabic translators are waiting for my input

Thanks!

[2015-08-11 15:38] spMohanty commented on #85
This has been implemented in the commit : https://github.com/geotagx/pybossa/commit/26e46602b5ec8aae2a7ba311e478575a3ebd0f8f

[2015-08-11 15:40] spMohanty commented on #83
@elliec : Can you let me know what the reply address for the email should be ? usually its "noreply@geotagx.org".

Should I use the geotagx@cern.ch email address as reply address for the email ?

[2015-08-11 16:01] elliec commented on #83
@spMohanty you can use that, however im not sure I will use this for messages that need replying. I think its better to leave the no reply and if i have to i can mention in the email how they can contact us if need-be

[2015-08-11 17:43] elliec commented on #85
@spMohanty looks good ill close this now

[2015-08-11 17:43] #85 closed, assigned to nobody

[2015-08-11 17:44] elliec opened #87 "checklist for adding new project"

[2015-08-11 22:46] spMohanty commented on #82
Fixed in commits : https://github.com/geotagx/pybossa/commit/b7f6e1a0e8214ae9f39e0e9893a3bcd98bef33d1 and https://github.com/geotagx/geotagx-theme/commit/23087fc4839a23a8dc2cd675c73a243bc57a184f

[2015-08-12 00:34] spMohanty commented on #83
Implemented in the commits : https://github.com/geotagx/pybossa/commit/dabf1f142600fbc00bd78185fb9e0a056a51bdee , https://github.com/geotagx/pybossa/commit/7c0057ff107d11d298c3beb64f5a901a26547617 , https://github.com/geotagx/geotagx-theme/commit/29eb5eecd2619cd32401d780d9ef5e87180af7fc )

(Copying contents from our email on this thread, so that it can be used as reference in the future)
@elliec :

[2015-08-12 01:34] spMohanty commented on #86
Sent via email

[2015-08-12 02:25] spMohanty commented on #84
Update :
@supranove : I tried replicating this issue on my local instance. and the photo was updated every single time :( .
On the production instance, if you do not crop a photo, and upload a "square" image, it gets updated every single time.

[2015-08-12 05:13] spMohanty commented on #76
@elliec : Fixed !! But if you add more categories, then they get added in a separate row, and surprisingly it doesn't really look that bad !!
(Any changes to the categories take a ~~few minutes~~ **a day** to take effect, as all the data on the front page is cached for reasons related to performance)

Update : On a closer look, the default Category Cache timeout is 24 hours. If you want any change

[2015-08-12 08:19] elliec commented on #76
@spMohanty great thanks! I will leave this open until i am able to test it to see how it works, will let you know how i go

[2015-08-12 08:21] elliec commented on #86
@spMohanty thanks, i will leave this open until we have the translated strings and can test it

[2015-08-12 08:22] elliec commented on #82
@spMohanty looks good ill close this now

[2015-08-12 08:22] #82 closed, assigned to spMohanty

[2015-08-17 10:49] elliec opened #88 "about page changes"
See documents sent by valentina

[2015-08-17 12:31] elliec commented on #84
@spMohanty @supranove did you manage to work this out in the end?

[2015-08-17 14:48] elliec opened #89 "Add explanation of how to access data to about page"

[2015-08-17 15:35] elliec opened #90 "update UNITAR/UNOSAT logo"
see email from valentina with correct logo

[2015-08-17 15:38] elliec opened #91 "Image not clear and I don’t know buttons confusing"
Feedback from GISCorps:
-   The not clear and the I don't know in meanings almost the same, I think it would be enough to use only one of those.
  Gergely G. Puskas   puskasgergelyg@gmail.com
-   "I don't know" and "photo not clear" seem interchangeable in the tutorials  (crop identification tutorial says the answer is "photo not clear" for the question about method of cultivation where you can't

[2015-08-17 15:41] elliec opened #92 "Tutorial for Geotagging application"
-   There should be a tutorial for the Geotag the Photos project.
  (feedback by Emily Hultman  emily.hultman@gmail.com  from Shoreh’s list)

[2015-08-17 15:43] elliec opened #93 "Feedback on GeoTagging project from GISCorps"
See following feedback
-   Geo Tag - location tag is very time consuming to do each individual photo and the polygon shape for area wouldn't line up. It would be great if the photos that were taken at the same location be added together as album and tag location only once.
  (feedback by Nattawadee Panikom npanikom@gmail.com from Shoreh’s list)
-   Geo tagging photos for the shelter project is ove

[2015-08-17 15:45] elliec commented on #57
@spMohanty feedback from GISCorps volunteer that they were not shown the final survey

How can I get to the surveys? I have completed all tasks.
Michel Bohorquez    michelbohorquez1@gmail.com
(note: he has completed 165 tasks)

[2015-08-17 15:46] elliec opened #94 "Issues with submit when internet slow from GISCorps"
Maybe it wasn’t working while someone had problem due to slow internet connection
-   I could not able to complete few projects due to problem in the submit button. I have also sent my feedback comment indicating the problem. In future it will be good if there is no technical problem. If submit button is not working, then entire effort in the project completion will be wasted and then shows the pr

[2015-08-17 15:48] elliec opened #95 "Remove reference to second photo in tutorials"
Could we remove the referecne to the second photo on the tutorials? none of them currently have one

Feedback from GISCorps
In the tutorials, I had difficulty viewing the photo after the first photo.
Holly Richards Geospatial14@gmail.com

[2015-08-17 15:49] elliec opened #96 "Pictures not showing up or double photo appearing"
First time I tried the pictures wouldn't show and then towards the end of my contribution, it stopped on me.
Sheri Santos sheri.santos@hotmail.com

[2015-08-17 15:51] elliec opened #97 "make sign in button more obvious"
highlight it in green or similar ?

[2015-08-17 23:21] spMohanty commented on #90
@elliec , @Valentina : Updated the logo. Let me know if this works. (I think its a bit stretched, I tried bringing both the components in the logo a bit closer. Is it okay ? )

[2015-08-18 12:27] elliec commented on #93
ellie to write description for why we use polygons, Jeremy to write help/tutorial for geotagging

[2015-08-18 12:29] elliec commented on #93
to be done before GISCorps data sprint weekend 29th august

[2015-08-18 12:45] elliec commented on #91
@supranove change tour text to say "Select this option is the image is not clear enough for you to answer the question"

[2015-08-18 12:47] elliec commented on #91
or "Select this option if you cannot answer this question given what you can see in the image"

[2015-08-18 12:49] elliec commented on #95
@supranove to plan how to implement this for when we do get a second photo in a tutorial

[2015-08-18 12:53] elliec commented on #96
Lars also seeing double photos, on the double the source was completely wrong. Using firefox v40.0.2

[2015-08-18 12:57] elliec commented on #94
@supranove add message about old vesions of IE, otherwise wait to see what happens over next data sprint

[2015-08-19 12:13] #83 closed, assigned to spMohanty

[2015-08-19 12:13] #97 closed, assigned to nobody

[2015-08-19 12:15] elliec commented on #90
@spMohanty seperate unosat and unitar

[2015-08-19 12:22] #75 closed, assigned to nobody

[2015-08-19 12:26] elliec commented on #66
@spMohanty to check how it works with new projection and then if ok write cron job

[2015-08-19 12:31] #57 closed, assigned to elliec

[2015-08-19 12:32] #8 closed, assigned to nobody

[2015-08-19 12:45] elliec commented on #69
@spMohanty add basic drupal like filters for data

[2015-08-19 14:06] spMohanty commented on #90
done

[2015-08-19 14:50] elliec commented on #87
if at all you break anything in the repository due to any temporary changes, you can always revert back to the latest good version using :

git reset --hard HEAD

(you have to execute this at the following locations :

/home/pybossa/new_geotagx/pybossa (root directory of pybossa)
and
/home/pybossa/new_geotagx/pybossa/pybossa/themes/geotagx-theme-v2.0 (root directory of geotagx-theme)

[2015-08-19 14:50] elliec commented on #87
to enable results summary for projects

1) go into the projects directory in the geotagx-theme repository and type :

git submodule add PATH_TO_REPOSITORY

2) go into the root directory of geotagx-theme repository and type :

git pull && git submodule init && git submodule update && git submodule status

3) edit the settings_local.py file in pybossa root to add :
  'yemenculture' : json.loads(open

[2015-08-19 14:57] elliec commented on #90
thanks

[2015-08-19 14:57] #90 closed, assigned to spMohanty

[2015-08-24 11:59] elliec commented on #96
Feedback from Rema:

New Issue: http://geotagx.org/project/yemenculture/task/2866
Task 2866 is another example of missing image, but with a source link which takes me to http://www.marsnjak.com/sergej/?menu=yemen&zoom=1&pic=402&type=pic

In a couple of earlier examples, I had responded as image not clear and submitted the response, though it was not quite accurate.  I can move to the next Task onl

[2015-08-25 09:44] elliec commented on #69
add filter to yemen project to filter for damage. or add filters for each question in a project if thats easier

[2015-08-25 09:56] elliec commented on #96
@supranove add no photo button to first question

[2015-08-25 10:06] elliec commented on #69
highlight position marker and make polyogns stay until another marker is hovered over

[2015-08-25 10:28] #76 closed, assigned to nobody

[2015-08-25 10:30] spMohanty commented on #84
`url_for('static', filename='img/placeholder.project.png')` points to broken image `project_40_thumbnail_1439345144.png`. Looking at the file closely, it resembles broken images uploaded through the upload interface.

[2015-08-25 10:40] elliec opened #98 "archive categories"
add an archive function to allow us to archive categories and remove them from the front page, putting them into a "past projects" section or similar

[2015-08-26 12:09] elliec opened #99 "add link to project's github repo to the project page on GeoTag-X"

[2015-08-26 12:10] elliec opened #100 "Make social media buttons more obvious"
I've had at least three people tell me we should have social media buttons for the projects. we already have them so i think they are not obvious enough. Could we find a more obvious place to put them?

[2015-08-26 13:46] elliec commented on #96
@supranove new double photo report on Chrome Version 44.0.2403.157

[2015-08-26 14:35] elliec commented on #69
@spMohanty could you please add the image source to the summary display in the map? and could you make the image smaller in the display? right now it is huge and takes up a lot of the screen (and i have a big screen), so smaller photos are not clear

[2015-08-27 14:03] elliec commented on #96
@supranove feedback saying this photo had the wrong source http://geotagx.org/project/yemenculture/task/2772. when i clicked to see it, i got a blank, there was no photo

[2015-08-29 18:50] elliec commented on #96
From Rema: Same issue again… Completed 2884 and the next one image does not correlate to source. Immediately it shows previous picture but any refresh or other action on screen results in previous image being replaced by BLANK image.

## Another pattern is that it is happening in a pattern…

Another missing image….

Task
http://geotagx.org/project/yemenculture/task/2892

Image = Blank

Source

htt

[2015-08-30 15:51] spMohanty commented on #69
@elliec : Added the max-width for the images in the summary. And also the source. Though, I have added the `image_url`(the actual link to the image) as the source instead of the `image_source`(the website where this image was found), as collecting the image_source at this end will be a computationally expensive operation for us when rendering the images. But if you think, we will definitely have t

[2015-08-31 10:42] elliec commented on #69
@spMohanty I think we will need the source but let me try it for a bit and see if i need it. I will let you know. Right now its broken though, the points arnt showing up (see email)

[2015-08-31 11:31] spMohanty commented on #69
@elliec : Fixed the bug. and made it more tolerant to garbage coordinates. Let me know if this happens again, I ll also add some feedback messages for the user.

[2015-08-31 11:49] elliec commented on #69
@spMohanty thanks looks heaps better. For now the image url is ok. I think i wanted it really to see where the photo was coming from, and you can get that from the source. I will let you know if i find the image source is necessary.

We should probably add an explanation somewhere of what the points and polygons are, maybe just a link to the results page i was working on..

[2015-08-31 11:51] spMohanty commented on #69
@elliec : Yeah sure !! If you have some text that you would want me to put somewhere on the page, let me know. I ll update it.

[2015-08-31 13:04] elliec commented on #69
k, ill send you the text when its done, thanks!

[2015-09-02 01:00] tagapic opened #101 "Wiki pages for Photos - Yemen project"
Regarding photos that do not say clearly what the building or place is e.g. a photo of an un-named mosque or other building/s - I am using Google images to identify them by looking at similar images - and then using that information to identify the wiki page and/or location. Sometimes, when identified, the specific building/s in Yemen may not have a wikipedia page, but there may be a wikipedia pag

[2015-09-02 01:33] tagapic opened #102 "Yemen Project - Task 3232 and many others - source correction"
view-source: http://geotagx.org/project/yemenculture/task/3232

The above link goes to page 1 of 26 pages where the image is not listed. The image appears on Page 4. So the link could be either
http://tinyurl.com/ofveu4r

Or the link could be to image at
The source should be http://tinyurl.com/ofveu4r

[2015-09-02 01:37] tagapic opened #103 "Yemen Project - Geo location of Photos"
Till last week when I was tagging photos, the question "Can you geo-localize the site and/or the photo?" would require me to type in the location below the question... and on typing in the location, this would bring up the place according to the spelling used by the map immediately below. (often different from how it may be spelt in other places and mapping tools). Since Saturday when I was taggin

[2015-09-02 01:46] tagapic commented on #103
Is it not possible for the map to take me to the location when I type in the coordinates? What I am doing is when I have the coordinates, I type it in and then use the plus sign to expand map and locate the place. I am drawing a polygon, but not sure what should be the length and breadth of the polygon... Eg. for the old walled city of Shibam. Thanks.

[2015-09-02 02:14] tagapic opened #104 "Photos of street scenes, parts of building, etc.. - Naming and Heritage"
When images are of street scene, some part of a building, or a house on a street, it is not easy to answer "Do you think there is built heritage in this photo?". Since all these are part of a heritage site, the answer being given by me is Yes.
On naming, the only way to name them seems to be "House in Sana'a" or "Street scene" or "Old Walled City of Shibam".
In terms of location, they are either s

[2015-09-02 04:46] tagapic opened #105 "Duplicate photo and source tags"
Task 3248 is a repetition of a previously tagged photo.http://geotagx.org/project/yemenculture/task/3248
Is there a way I can check those that I have tagged and submitted. When I find the duplicate, it is not always immediately after. The task list that I downloaded does not help to indicate which photo was similar if it points to a page of photos. This is the case of the photos from the rgs proje

[2015-09-02 08:23] elliec commented on #105
@tagapic PyBossa displays the tasks in numerical order, in theory you have probably looked at most images in the yemen project with task ids <3248. I think the way to check if something has been duplicated would be to search for the image url http://images.rgs.org/webimages/0/0/10000/3000/200/S0013271_thumb.jpg in the task list you have downloaded.

The source url is extracted automatically from t

[2015-09-02 08:26] elliec commented on #104
@tagapic that's fine how you are answering. Just give as much detail as you can in the name and the geotagging. I think it would be very difficult, unless you have been to Sana'a, to give much more detail that you have. So something like "Old Walled City of Shibam", or House in Sana'a, is perfectly ok. The same goes for the geotagging. In previous projects we have asked people to drop points where

[2015-09-02 08:33] elliec commented on #103
@tagapic We have just updated the map to add some improvements but the interface has changed and i can see how it is confusing if you are used to the old one (i had the same problem with the search). The search function on the map should be exactly the same as the old search bar, if you are finding it does not work the same though please let me know. I  know there are some issues with the openlaye

[2015-09-02 08:34] elliec commented on #102
@tagapic thanks, im not sure if we can fix this because it is automated but I will check with the developer

[2015-09-02 08:38] elliec commented on #101
@tagapic in this case you can use your best judgement, if you think the wiki page is relevant, even if maybe the building is not mentioned you can put it in. Otherwise you can also leave it empty

[2015-09-02 12:29] #88 closed, assigned to spMohanty

[2015-09-02 12:35] elliec opened #106 "citizen grid"

[2015-09-02 13:31] tagapic commented on #101
Thanks, that is fine then.

[2015-09-02 13:31] #101 closed, assigned to nobody

[2015-09-02 13:44] elliec commented on #103
@tagapic: @supranove suggested that when the map finds and moves to a location but doesn't zoom in enough, you can use the zoom in and out buttons to zoom into the city and it should zoom down to the correct location (don't use the mouse scroll wheel as that will move the map)

[2015-09-02 13:46] tagapic commented on #102
@elliec, Thanks, when the source of the image is to a page which contains as many as 64 photos, it is difficult to locate it. For photos in this RGS group, all of the URLs in the task list point to a page of the group (it has 1 of 7 or 1 of 64, but does not point to a specific image url ending with a jpg/jpeg.

[2015-09-02 14:46] tagapic commented on #103
@elliec @supranove, thanks - I see that you have replaced the question with the search icon, I have been using the + sign to locate a photo more closely e.g. Shibam, Tarim, etc where the photo provides the info and also tried the option to open the map widely. It is very tricky to not activate the moving of the map :).  For the ones with only identification as Sana'a I have put a small polygon aro

[2015-09-02 15:00] tagapic commented on #103
@elliec I am attaching an image of mapping the polygon...where the photo is from Zabid.
![zabid map illustration](https://cloud.githubusercontent.com/assets/14006578/9634897/ae081f9a-5161-11e5-8ee5-5795f9eb427f.png)

[2015-09-02 15:41] tagapic commented on #105
@elliec thank you, since the excel file links only to the page (or to 1 of several pages) and not to the image (in the rgs project), I could not find the image url. Is it at all possible to have a thumbnail of the image in the excel?

[2015-09-02 15:42] tagapic commented on #104
@elliec ok thanks.

[2015-09-02 15:42] #104 closed, assigned to nobody

[2015-09-03 22:45] tagapic opened #107 "Shelter2013 - tasks 1405-1427 and Yamuna Animals - 1179 - 1220"
@elliec Why is not possible to contribute to these two projects even though the welcome screen as below invites you to contribute. It seems it calculates and says " YOUR CURRENT ANALYSIS IS 0% COMPLETE" and the url has new task under it. From the task list, it appears that several tasks are not complete.

Shelter 2013
Some of the projects seem to be unfinished but do not allow contribution.
![shel

[2015-09-03 23:23] tagapic opened #108 "Yemeni culture Project - improve intro text"
Just some notes (to myself perhaps).

<div><p><b>"Do you see any damage to the building that is not caused by general deterioration over time?" This was a good improvement to the earlier question. The intro page also asks "Does the photo possibly depict damage to the site occurring during the 2015 civil war?" <b></p></div>

Unless the photo is recent or part of an article that talks about the 2015

[2015-09-04 00:51] tagapic opened #109 "Yemen Culture Project Task 3316 - source link not working"
http://geotagx.org/project/yemenculture/task/3316
Image 169 of 675 - the image source link is not working. Marked as Image not clear.

[2015-09-04 01:32] tagapic commented on #109
This link is not working because it is linked to a site that requires logging in to see the photo.

[2015-09-04 01:34] tagapic opened #110 "Yemen Culture Project Task 3336 - source link not working"
Task 3336, Image 179 of 675
The image link http://turntoislam.com/community/threads/yemen-and-city-of-sana.1668/ will not work because it requires a log into the site.
Marked as image not clear.

[2015-09-04 01:40] tagapic commented on #109
This is the issue for all photos linked to this site...
Image 181 of 675. Task 3342: Image 182 of 675.
Task 3346 Image 184 of 675.
Task 3348 Image 185 of 675
Task 3366 Image 194 of 675
All images marked not clear.

[2015-09-07 10:00] spMohanty commented on #66
Putting here the contents of reply over email for future reference :

---

@oliverroick : I get a TemplateNotFound error when I access the link : http://play.geokey.org.uk/api/geotagx/87/import/

We had changed the projection of the coordinates WGS84, and we also developed a GeoJSON visualiser for the results specific to the GeoTag-X which works by just using the GeoJSON export.
But we can still p

[2015-09-07 10:12] oliverroick commented on #66
Have you accessed the endpoint from a browser? You usually get the error with Django, when you access an endpoint that requires application/json as the content-type. Also HTTP GET is not allow on that endpoint.

 Try POSTing data to the endpoint using content-type application/json, that should do.

[2015-09-07 10:13] spMohanty commented on #66
@oliverroick : Sorry I posted the wrong link. I meant the map : http://play.geokey.org.uk/geotagx/86/

[2015-09-07 10:16] spMohanty commented on #66
@oliverroick : My bad. its working now. Though I got this a few minutes ago : ![screenshot](http://i.imgur.com/IDTSp2B.png)

[2015-09-07 10:19] oliverroick commented on #66
@spMohanty That's the wrong link. You have used http://play.geokey.org.uk/ **api** /geotagx/86/ instead of http://play.geokey.org.uk/geotagx/86/

[2015-09-07 10:20] spMohanty commented on #66
Thanks. Now it makes sense. I ll get back to you in a bit about the POSTing of the results.

[2015-09-07 10:27] spMohanty commented on #66
@oliverroick : So I managed to push the results to GeoKey for one GeoTag-X project. But we will have multiple such projects. Can you let me know how can I easily (and possibly programmatically) create projects ?

[2015-09-07 13:42] #61 closed, assigned to nobody

[2015-09-07 15:22] tagapic commented on #102
@elliec
Task 3420. Image 221 of 1070 source given is http://images.rgs.org/search.aspx?view=&search_ctl%3Akeyword=yemen&search_ctl%3Aimage_type_list=0&search_ctl%3Acollection_list=-1&search_ctl%3AimageSubmit.x=0&search_ctl%3AimageSubmit.y=0&search_ctl%3Adate_range_list=0&search_ctl%3AregionEvent=0&search_ctl%3AdropdownThemes=0&search_ctl%3AsearchPhotographOrPersonShown%3A0=on&search_ctl%3AsearchPh

[2015-09-07 16:14] tagapic commented on #102
@elliec
Task 3424. The source link takes you to page 1. The Image is on page 5. http://images.rgs.org/search.aspx?view=&search_ctl%3Akeyword=yemen&search_ctl%3Aimage_type_list=0&search_ctl%3Acollection_list=-1&search_ctl%3AimageSubmit.x=0&search_ctl%3AimageSubmit.y=0&search_ctl%3Adate_range_list=0&search_ctl%3AregionEvent=0&search_ctl%3AdropdownThemes=0&search_ctl%3AsearchPhotographOrPersonShown%3

[2015-09-07 16:26] tagapic commented on #102
Task 3426. Image 224. The source link takes you to page 1. Search shows image on Page 3. (Image S0012246).

[2015-09-07 17:30] tagapic commented on #102
Task 3430, Image 226. This image after a tedious and time consuming effort is on Page 5 of the RGS photo collection. (Image S0019373).

[2015-09-08 14:36] tagapic opened #111 "Project Ebola - Source link"
@elliec It would be useful to have the Task no. show up on the Screen similar to image numbers.
<b>Incorrect entries posted as "image not clear".</B>

Task 660 - Source link below no longer working
![image](https://cloud.githubusercontent.com/assets/14006578/9737582/54df2310-5615-11e5-8ddc-64e0b75beab9.png)

Task 661 - Incorrect Source link
http://newtelegraphonline.com/ebola-protective-equipment-

[2015-09-08 16:38] #96 closed, assigned to othieno

[2015-09-08 18:04] tagapic opened #112 "Home Pages - Project page display"
@elliec
The Projects page – Used the Chrome as browser. May I suggest some amendment to the look. It now shows 4 featured projects at the top and there is no button to see “all projects”. I juggle around to see the full list (actually search for the incomplete projects) or simply use my page history to go back to the subportal that I wish to work on.

Would also suggest auto arrangement by "unfini

[2015-09-13 11:02] spMohanty commented on #66
@elliec , @oliverroick : https://github.com/geotagx/geotagx-geokey-sync
This repository handles the syncing of the data between geotagx and geokey. Currently the project creation on geokey has to be done manually and the project_id has to be manually mapped to the corresponding geotagx project name in `settings.py` included in the repository. I have also manually created the projects on geokey for

[2015-09-14 08:20] oliverroick commented on #66
:+1: Did you manage to solve the issues you had yesterday? I saw the exceptions coming up in our logs.

[2015-09-14 20:30] spMohanty commented on #66
@oliverroick : Yeah, ran into a few glitches in the beginning, in the end managed to get everything working. The code in the repository above works out of the box :D :D

[2015-09-17 04:58] tagapic opened #113 "Ebola Project - Images not matching source"
@elliec - <b>Task 593 Image 0/104 </b> - the image (of some health workers probably going for decontamination or something) does not match the source link which given.
http://www.thanhniennews.com/health/ebola-vaccine-fully-successful-in-monkey-tests-30855.html
Have marked it as "I do not see a photo".

<b>Task 597 Image 4/104 </b>\- the image of health workers in protection suits does not match t

[2015-09-20 03:45] tagapic opened #114 "Ebola Project: question regarding "wearing all recommended protective equipment" -"
<b>Task 605 Image 12/104</b> The image shows health worker wearing protective equipment. However, the photo is waist up so one cannot say anything about shoes. One has to assume that the person is wearing protective shoes. Responding as "Yes".

[2015-09-24 20:05] tagapic opened #115 "Ebola Response Project Task 13 of 104 - Image not matching source + Question on "All" protective equipment"
<b>1st issue:  Are the people in the photo wearing all recommended protective equipment?</b>
The image shows a health worker helping another to wear the protective equipment and is above the waist level shot... as such it cannot depict the shoes etc. However, one could safely assume that the health worker is putting "all" protective equipment. But s/he is not ready. As such how does one answer the

[2015-09-24 20:08] tagapic opened #116 "Ebola Response Project Task 606 Image 13 of 104 - Image not matching source + Question on "All" protective equipment"
<b>1st issue:  Are the people in the photo wearing all recommended protective equipment?</b>
The image shows a health worker helping another to wear the protective equipment and is above the waist level shot... as such it cannot depict the shoes etc. However, one could safely assume that the health worker is putting "all" protective equipment. But s/he is not ready. As such how does one answer the

[2015-09-24 20:19] tagapic opened #117 "Ebola Response Project Task 607 Image 14 of 104 - Image and Source Links not matching"
Have responded to such messages as Image Not Clear.

Image url from the Project Task List appears to be linked to a BBC collection is
http://ichef.bbci.co.uk/news/highquality/590/media/images/78068000/jpg/_78068652_ebola_suit_with_title.jpg

Source link url does not have this image. [Possible the image is one of the Daily Mail articles....]
http://www.dailymail.co.uk/news/article-2725754/Ebola-vas

[2015-09-29 15:33] elliec commented on #117
possibly the image came from an article that isn't shown anymore, will see where else this pops up to confirm

[2015-09-29 15:37] elliec commented on #115
this is a double of #116 so I am closing it

[2015-09-29 15:37] #115 closed, assigned to elliec

[2015-09-29 15:40] elliec commented on #114
In this case you can select "I don't know" because it is not possible to answer the question given the photo that you can see. Along with this you could also put a comment in the comments section for that photo (see "show comments" under the question) with what you have mentioned in this issue.

I think the improvement you suggest in #116 are needed in this case - the question and/or help needs to

[2015-09-29 15:49] elliec commented on #113
I went through these photos and the ones in #116 and #111. The project is displaying the correct source image according to the task list csv, so I don't think it is a bug in the project. It could have been one of two things:
- the photos were loaded in before we completely changed the way the platform works, it was really buggy and there could have been a problem in the old system that meant it gr

[2015-09-29 15:55] elliec commented on #112
@tagapic good idea for ordering by unfinished and completed. This is definitely something we could implement, i will create an issue for it.

I am a bit confused by the "order by progress", "order by activity", and "order by tasks" menu that you are talking about though. Could you send me the link to the page you are talking about?

When I look at the projects page http://geotagx.org/#project_grid

[2015-09-29 16:15] tagapic commented on #116
Thanks @elliec - if we make changes to questions - so the reader answers to the point asked about the photo (all), then the issue is solved. However, the source links is something that has to be looked at the backend. Dont know whether the source link or image link are drawn from another database - and that one of them is wrong. i.e. if image is from BBC then source link should ideally be a BBC st

[2015-09-29 16:15] #116 closed, assigned to nobody

[2015-09-29 16:37] tagapic commented on #113
thanks @elliec - perhaps this should be taken off public view and reviewed before resharing for tagging?

[2015-09-29 16:37] #113 closed, assigned to elliec

[2015-09-29 22:52] tagapic commented on #114
thanks @elliec, wondering if it could be made possible to skip a question like this where you may want to raise an issue rather than just answer something and then come back to the skipped ones. Perhaps all of this can be taken up in the review....

[2015-09-29 22:52] #114 closed, assigned to elliec

[2015-09-30 08:51] elliec opened #118 "add cookies warning"

[2015-10-05 15:04] elliec commented on #117
like @tagapic suggests, Ebola needs to be archived until we can work out the issues, i think the problem comes from how the old firefox plugin got the source url. This is linked to #98 . once this is solved we can archive Ebola

[2015-10-05 15:09] elliec commented on #112
Action: On the http://geotagx.org/#project_grid, projects should be ordered by completeness, with those that are 100% at the bottom of the list.

[2015-10-05 15:19] elliec commented on #109
@tagapic Thanks, I will note these numbers for when we are going through the results

[2015-10-05 15:29] elliec commented on #107
@tagapic thanks for pointing this out, these are also older projects that have been transferred over from the old system and there may be some bugs.

@supranove if you get a moment could you look into this? I have tried and it seems to get stuck loading the photos, maybe they are too big? If you don't have time, we can archive/hide these projects until it is fixed (when that is possible #98)

[2015-10-05 15:31] elliec commented on #106
@spMohanty I am closing this, it does not make sense for us to integrate with citizen grid at the moment as there is no use case

[2015-10-05 15:31] #106 closed, assigned to spMohanty

[2015-10-05 15:42] elliec commented on #105
@tagapic I don't think we can do that in the excel, but we could possibly do that on the browse tasks page

Action: Add thumbnail of photo and image source to browse task page

[2015-10-05 15:47] elliec commented on #103
@tagapic the boundary of the area that you geotag doesnt have to be exact, unless you know exactly where it is we are happy to have even a rough estimate. When we are at the scale of a whole city or town it is ok if the boundary is not exact.

We get a lot of questions about geotagging so we tried to answer them in a blog http://geotagx.org/project/geotagxblog/11

[2015-10-05 15:48] elliec commented on #102
@spMohanty maybe this is an issue with how the extension is collecting the source? do you know if it is possible to make it get the exact page on which the image is in search results like this?

[2015-10-05 15:54] elliec commented on #95
@supranove did you do this? i remember some discussion about it being done....

[2015-10-05 15:54] elliec commented on #95
if so you can close it

[2015-10-05 15:56] elliec commented on #93
This is complete, closing this issue

[2015-10-05 15:56] #93 closed, assigned to othieno

[2015-10-05 15:59] #92 closed, assigned to nobody

[2015-10-05 16:00] elliec commented on #91
@supranove is this done? if so we can close it

[2015-10-05 16:04] elliec commented on #89
@spMohanty to add pdf then we can close

[2015-10-05 16:05] elliec commented on #86
@spMohanty translated strings ready, ready to be implemented/tested

[2015-10-05 22:59] tagapic commented on #112
Thanks @elliec
Here is how I came upon the Oder by Name, Progress, etc...
From <a href="http://geotagx.org/about">About Page</a> - the user is given some guidance as below.

<b><center>How to get started? +</b>
<b>How will the analysis help? -</b></center>. <i>When you open the + sign, you see text as below...</i>
Let’s see with an example.
Our <a href="http://geotagx.org/project/category/emergenc

[2015-10-08 13:33] #95 closed, assigned to othieno

[2015-10-08 13:33] othieno commented on #95
@elliec Thought I had this done. It is now :)

[2015-10-08 13:40] othieno commented on #91
@elliec Yep, this should be fine. I left it open in case we got feedback about the distinction still not being clear enough however that hasn't happened so I think the tour text's clear enough now.

[2015-10-08 13:40] #91 closed, assigned to othieno

[2015-10-11 14:38] othieno commented on #41
@elliec @spMohanty I'm closing this because it is most likely related to #96.

[2015-10-11 14:38] #41 closed, assigned to nobody

[2015-10-20 12:49] ValeErre87 opened #119 "Project Shelter2013 - volunteer stuck with the tutorial"
A volunteer reported being stuck with this tutorial.
She said that on the materials question she can't get all the materials. She wants to be able to take another tutorial, to see more, but it keeps serving her up the same tutorial.

Note: she is using Google Chrome - Version 45.0.2454.101 on Windows 8.1

![sheltertutorial](https://cloud.githubusercontent.com/assets/13830929/10607381/81171ccc-7739

[2015-10-20 12:51] ValeErre87 opened #120 "Project Shelter2013 - broken links in the help box"
A volunteer reported there are some broken image links on the materials question on the help box.

The images' broken links are related to Concrete, Corrugated iron sheets and Woven plant materials.

Note: she is using Google Chrome - Version 45.0.2454.101 on Windows 8.1

[2015-10-20 12:55] ValeErre87 opened #121 "Project Yamuna Animals - Project stuck on calculating analyses completed"
A volunteer reported the Yamuna Animals project to be stuck on "Calculating Analyses completed".
She said she was only able to take the tutorial, then the page was stuck on this message (which means she couldn't contribute to the project).

Note: she is using Google Chrome - Version 45.0.2454.101 on Windows 8.1

![yamunaanimalsstuck](https://cloud.githubusercontent.com/assets/13830929/10607519/4de

[2015-10-20 13:03] #118 closed, assigned to nobody

[2015-10-20 13:28] ValeErre87 opened #122 "Blog - Markdown command on the blog preview"
On the blog preview, you can see the Markdown command.
After the sentence in italic, you can see [ *Yemen ....
[ \*  this is part of the markdown command to have a link in italic

![blogpreview](https://cloud.githubusercontent.com/assets/13830929/10608340/da65a2e4-773e-11e5-9eca-5633cbc9e127.JPG)

[2015-10-20 13:44] spMohanty commented on #122
@ValeErre87 : Thanks for pointing it out. I have fixed this with a rather hacky way. (Added as many "new lines" before the violating block of markdown as there characters in the violating block that appear in the summary) . I will soon push a better and more general fix for this which solves this and a few other problems that I know this might cause in the future. Lets have this issue open till th

[2015-10-20 17:59] #120 closed, assigned to nobody

[2015-10-21 10:01] ValeErre87 opened #123 "Add a delete account option to users profile"
So that they will not need to write us if they want to delete their account, as the will have the possibility to do it by themselves.

[2015-10-21 13:04] #121 closed, assigned to nobody

[2015-10-21 13:17] othieno commented on #121
A bit more information: It turns out that access to the image was forbidden (expected in some cases) but nothing was being done to solve the issue on our end. This fix will simply make the project automatically skip any inaccessible images and present the first one it can access to the volunteer :)

[2015-10-21 14:51] ValeErre87 commented on #121
Sorry Jeremy, but I am a bit confused. What should I have to tell the volunteer? That the bug has been fixed and she can now see all the images? Since she has never contributed to the project before, she should be presented with all the uncompleted tasks of the project. Am I right?

[2015-10-21 20:11] othieno commented on #121
Ah, sorry Val, I got too technical. So the bug has been fixed and they can now see all the images we can access. The images that can not be accessed (for instance when the website hosting the image does not exist anymore or has blocked access to the image) are automatically skipped without bothering the volunteers.

[2015-10-23 12:48] ValeErre87 commented on #122
@spMohanty: Thanks, and sorry if I got back to you so slowly!

[2015-10-27 13:46] #68 closed, assigned to nobody

[2015-10-27 13:46] elliec commented on #68
closed because i think what we have now is fine

[2015-10-28 13:08] elliec commented on #112
@tagapic I see why this is confusing, @spMohanty Do you think we could hide this option for now in the categories because none of them have so many projects that there is a need to order them.

[2015-10-28 13:11] elliec commented on #107
@supranove I think this is related to #119 and #121 - was that solved?

[2015-10-28 16:17] elliec opened #124 "Archive Ebola and Yamuna projects"
Once #98 is solved we can do this. See #117 for details of issues with old photo links in old projects

[2015-10-28 16:18] elliec commented on #117
closing this, see #124 for action

[2015-10-28 16:18] #117 closed, assigned to elliec

[2015-10-28 16:19] elliec commented on #111
Action: archive ebola project see issue #124

[2015-10-28 16:19] #111 closed, assigned to elliec

[2015-10-28 16:21] elliec commented on #108
Improve Yemen intro text to be clearer and reflect analysis questions

[2015-10-28 16:23] elliec opened #125 "Add thumbnail and image source to Browse task page"
see #105 for feedback on this

[2015-10-28 16:23] elliec commented on #105
closing - see #125 for action

[2015-10-28 16:23] #105 closed, assigned to nobody

[2015-10-28 16:24] elliec commented on #103
@tagapic the zooming on search issue should now be fixed by @supranove

[2015-10-28 16:24] #103 closed, assigned to nobody

[2015-10-28 16:30] elliec commented on #102
Closing this - action issue here https://github.com/geotagx/geotagx-chrome-sourcerer/issues/4

[2015-10-28 16:30] #102 closed, assigned to nobody

[2015-10-28 16:31] elliec commented on #94
closing this because we haven't had this feedback recently. reopen if needed

[2015-10-28 16:31] #94 closed, assigned to othieno

[2015-10-28 16:32] elliec commented on #89
added to about page

[2015-10-28 16:32] #89 closed, assigned to elliec

[2015-10-28 16:34] elliec commented on #86
@spMohanty do you think you would be able to do this before end november?

[2015-10-28 16:38] elliec commented on #81
@spMohanty did you ever hear back from the server people on this?

[2015-10-28 16:39] elliec commented on #70
@spMohanty do you think this will be done for end nov?

[2015-10-28 16:39] elliec commented on #70
if not we can manually add the data in for now

[2015-10-28 16:40] elliec commented on #69
@spMohanty could you add a link to the data explanation from the maps page? then we can close this

Thanks!

[2015-10-28 16:42] elliec commented on #66
@spMohanty can we close this?

[2015-10-28 16:43] elliec commented on #65
@spMohanty I am going to close this, if #81 is completed we can reopen it but i think for now we wont do it

[2015-10-28 16:43] #65 closed, assigned to nobody

[2015-10-28 16:44] #64 closed, assigned to nobody

[2015-10-28 17:00] elliec commented on #46
@supranove is this one fixed with your commit?

[2015-10-28 23:28] othieno commented on #46
@elliec so it's been fixed but it's currently on a separate, experimental branch. No merges have been made yet because a few things are broken (uhmm, experimental) but the issue has been resolved. I'll leave this open as a reminder, and close it once the changes have been finalized.

[2015-11-07 16:26] Treblesteph opened #126 "Create simple mobile version."
Ability to scroll through images quickly, and to archive/bin items that you are unsure about.

[2015-11-07 16:29] Treblesteph opened #127 "Creating resources to enable people to teach others how to get involved."
Making workshop materials perhaps.

[2015-11-09 11:19] ValeErre87 opened #128 "Blog - preview size to be fixed"
The blog preview size is not consistent with all the blogs.
1) Image size is not always the same
2) Part of text under the photo: sometimes you can read 5 lines, sometimes more.

Is there any way to make the preview size fixed, so that it will be consistent with all the blogs?

[2015-11-09 11:38] ValeErre87 opened #129 "Yemen project - photo to be removed"
http://upload.wikimedia.org/wikipedia/commons/a/ac/Kairo_Ibn_Tulun_Moschee_BW_7.jpg

Task id number 3836 (from the export task > task in csv document)

The photo shows the Mosque of Ibn Tulun, located in Cairo, Egypt, not in Yemen.

[2015-11-09 13:12] ValeErre87 opened #130 "About page - link to be centered"
The expandable section "How will the analysis help?" (http://geotagx.org/about#how_will_the_analysis_help) needs to be fixed.

The text is not centered in between the lines.

![howwillthenalysishelp](https://cloud.githubusercontent.com/assets/13830929/11034434/e2701d22-86eb-11e5-98bf-e0bbc70e6dd4.PNG)

[2015-11-10 15:05] othieno commented on #84
@spMohanty @elliec I just tried to upload an icon and it seems to be working now. This may have been an odd server-side issue that got resolved when it was restarted. Does either of you get the error anymore?

[2015-11-13 16:08] ValeErre87 commented on #100
I also think the Social Media Buttons should be more visible. They are not being very used now.

I think they should be bigger and definitely placed on the blue area. I have add feedback from volunteers (during the learning workshop) saying that they didn't noticed there is a description of the project because they didn't noticed they had to scroll down. This means that they also didn't saw the so

[2015-11-19 17:20] ValeErre87 opened #131 "Tutorial - more photos"
I have received feedback from volunteers saying that sometime the photo used for the tutorial is not really representative for the purpose of the project or that they would like to be presented with more than one photo before starting to contribute to be confident about their ability to answer.

I think we should consider the idea of giving the chance to take the same tutorial with more than one p

[2015-11-20 09:44] ValeErre87 opened #132 "Tutorial - keep track of work"
A volunteer suggested the possibility to suggest a volunteer to take the tutorial again if his/her answers don't match the right answers, his/her progress is not great or he/she doesn't log in for days.
To do so, we should keep track of the volunteers' work and present them with a pop up window or just a message on the page saying something like "It looks like you didn't log in in the last X days.

[2015-12-05 09:01] spMohanty opened #133 "Add Google Translate Support for on the fly page translations"

[2016-01-04 16:26] tagapic opened #134 "Shelter2013 - Task 1413 Image 33 of 73 - Choice of Building Materials"
http://geotagx.org/project/shelter2013/task/1413
**Question**

**What is the construction style?**
Options are (1) Pucca (2) Semi-Pucca (3) Kutcha and (4) Other.

**What is the building or shelter made of?**
If the building or shelter is made out of different materials, select all that apply.
If you do not know how to answer this question, get some help.
Options are (1) Fired bricks (2) Mud bricks

[2016-01-04 17:00] tagapic opened #135 "Shelter 2013 - Help - Image URL not working"
**Is the building or shelter affected by flood waters?**
Just noticed that one of the images referred to in the "Help" to the question does not work any more.
See URL below.
http://columbian.media.clients.ellingtoncms.com/img/photos/2013/06/19/India_Floods.JPEG-08b00_r770x495.jpg?e13abf78c5373145db895a72bc651d1d4e1d8b6f

**Suggest** also improving the help **text** and adding more images here to b

[2016-01-05 09:34] ValeErre87 commented on #135
@tagapic thank you for pointing this out. We will work on the image that has been delete, to see if we can find it again or change it with another one.

Also, thanks for the comment about the text. What do you mean exactly by "improving the text"? Do you think that it would be enough to add more image or it would be better to rephrase it?

[2016-01-05 23:25] tagapic commented on #135
Thanks for looking into this. By improving the text I meant rephrasing to explain the difference between an "inundated" building/shelter from a "washed away" one. For example, the text could include the signs to look for in classifying as one or the other choice. Also suggest referring to the same word "words" in the Options text as in the Question and Help text when referring to structures. There

[2016-01-06 02:12] tagapic opened #136 "Yemen Project - Multiple images appearing of some images."
It seems that images keep reappearing even though submitted. I downloaded the Task List which only shows one instance of the image however. What is different is the figure showing no. of analyses.
For example, the image 34a.jpg in Task 3820 showing 421/1286 ANALYSES COMPLETED
http://geotagx.org/project/yemenculture/task/3820

Not clear if there are 1286 images in the Project. And if the 421/1286 r

[2016-01-06 02:19] tagapic opened #137 "Yemen Project - Task 3836"
The image is from Egypt. It is the Mosque of Ibn Tulun in Cairo.

[2016-01-06 09:02] ValeErre87 commented on #135
@tagapic yes, this is very clear. It is a very good point, and we will definitely consider to change the help text to make it clearer.

I am keeping track of all your suggestions (including the other topics you are opening) to address them at our earliest.
Thank you very much for your contributions.

[2016-01-06 16:24] tagapic opened #138 "Yemen Project - Source URLs sometimes not directly going to concerned photo"
Image
http://geotagx.org/project/yemenculture/task/3880
446 of 1286 Analyses completed

Source URL:
http://www.easyyementours.com/blog

The "source URL" for all photos from this blog go to the main page rather than to the specific page which holds the photo, so it is difficult to locate the photo and its details.

[2016-02-04 10:42] ValeErre87 opened #139 "Visualisation of Summary of Responses on a Map - Map is not working"
Hi All,
I used this link
http://geotagx.org/geotagx/map-summary/yemeniculturalheritageatrisk

to see the summary of responses for the Yemeni cultural heritage at risk project on a map, but I don't get any results.The map is not uploading the results, which is weird, as I am pretty sure it was working one week ago.

Also, I would like to know if it possible to see the results of the REACH Geotag th

[2016-02-04 13:00] elliec commented on #139
reach map would be here but its not working either
http://geotagx.org/geotagx/map-summary/emergencyshelterassessmentinthemiddleeast

its a problem with the geojson, it gives an internal server error, eg see
here
http://geotagx.org/geotagx/export/category/emergencyshelterassessmentinthemiddleeast/GeoJSON

On Thu, Feb 4, 2016 at 11:42 AM, ValeErre87 notifications@github.com
wrote:

[2016-03-07 10:14] ValeErre87 opened #140 "Updating tasks run while exporting"
We need to fix some bugs we are experiencing when exporting the CVS file related to number of tasks run.

In theory, we should get an updated export every time we try to export the file from the web interface.
Unfortunately, this is not happening, so the file I obtain while exporting is not updated.

[2016-03-07 19:18] othieno commented on #140
@ValeErre87 just to be clear, are you trying to export tasks or task runs?

[2016-03-08 08:11] ValeErre87 commented on #140
@othieno I tried to export task runs (in CVS format).

[2016-03-16 21:01] othieno commented on #140
@ValeErre87 I seem to have found a temporary solution to this. Could you try exporting and let me know if you're having issues?

_For future reference (beware, here be dragons):_
Why is this happening?
PyBossa creates a zip file (for instance, [here's how a zipped JSON export is created](https://github.com/PyBossa/pybossa/blob/b614361e0847595351d95f589ca34d106d76d2c7/pybossa/view/projects.py#L1013

[2016-03-18 10:03] ValeErre87 commented on #140
@othieno Hey Jeremy, thank you for fixing this. It works now.
I am a bit concerned we will face the same issue next month, when I will need to export the same tasks again.
I'll keep you posted.

[2016-03-18 10:08] ValeErre87 opened #141 "Geotag Yamuna photos project - issues with photos source"
A volunteer reported having issues with the source of some pics.

She said that some of the photos from the Indian Express aren't appearing in her browser (Google Chrome on Windows 8) when she clicks the image source link.
E.g. this link is "bad" (and used for several photos/tasks):
http://indianexpress.com/photos/picture-gallery-others/today-in-pics-water-level-in-yamuna-river-receding/#b_id_3952

[2016-03-21 09:15] ValeErre87 opened #142 "Shelter project - broken image links"
As reported by a volunteer, there are some broken image links in the help sections:

• Question 2 (Is the building or shelter affected by flood waters?): the Yes - waters have inundated shelters pic link (attributed to The Columbian) is broken
http://columbian.media.clients.ellingtoncms.com/img/photos/2013/06/19/India_Floods.JPEG-08b00_r770x495.jpg?e13abf78c5373145db895a72bc651d1d4e1d8b6f

• Quest

[2016-03-30 23:51] #130 closed, assigned to nobody

[2016-07-11 14:59] larsbromley opened #143 "Facebook sign up broken"
If I try to create an account via Facebook I get an error message: "App Not Set Up: This app is still in development mode, and you don't have access to it. Switch to a registered test user or ask an app admin for permissions."

[2016-07-18 18:31] othieno commented on #143
@larsbromley It seems the current GeoTag-X Facebook app is still in development mode and while the fix for this issue looks pretty simple (a quick toggle in the GeoTag-X Facebook app), I don't have access to it. @spMohanty, maybe you do?

[2016-07-20 05:13] cobismith opened #144 "where is the option to enable the chrome tool?"
it's not clear from the instructions as a project creator...

[2016-07-20 05:15] cobismith opened #145 "edit project settings bug"
clicking on
http://geotagx.org/project/kavanensblongkomuniti/update
from the "edit the project settings" button on the Project Settings page I get:

Ooops, Something's wrong

It looks as though we have broken something on our system, sorry

We will try to fix it as soon as we can!

[2016-07-29 00:07] cobismith opened #146 "task presenter bug"
Clicking on "You will need to upload the tasks using the CSV importer"  ( http://geotagx.org/project/kavanensblongkomuniti/tasks/import ) yields:

Ooops, Something's wrong

It looks as though we have broken something on our system, sorry

We will try to fix it as soon as we can!

[2016-07-29 21:16] othieno opened #147 "Fix incompatibilities due to PyBossa upgrade"
Currently, the following pages are broken due to the changes introduced in PyBossa:
- [x] Updating projects (/project/<short_name>/update) [Fixed in 14d9d0d]
- [x] Importing project tasks (/project/<short_name>/tasks/import) [Fixed in 8cba4a8]
- [x] Flushing task runs (/geotagx/project/<short_name>/flush_task_runs) [Fixed in geotagx/geotagx-plugin@795cbb4]
- [x] Exporting summaries as GeoJSON (/ge

[2016-07-29 21:40] othieno commented on #146
Thanks for pointing this out @cobismith! There're a few incompatibilities with our current theme and the recent version of PyBossa. I've opened up a [new issue](147) so they can be tracked in one place. If you do get the dreaded "Ooops, Something's wrong", feel free to add the page to that list!

[2016-07-29 21:40] #146 closed, assigned to nobody

[2016-07-29 21:41] othieno commented on #145
Again, thanks for pointing this out @cobismith!

[2016-07-29 21:41] #145 closed, assigned to nobody

[2016-07-30 18:02] othieno commented on #147
For the curious: pybossa/pybossa-default-theme@c83214c.

[2016-07-31 20:14] #139 closed, assigned to nobody

[2016-07-31 20:21] othieno commented on #55
A new plugin is being worked on [here](https://github.com/geotagx/geotagx-plugin).

[2016-07-31 20:21] #55 closed, assigned to nobody